<mat-toolbar color="primary" class="map-toolbar">
  <div class="fiz-toolbar">
    <button mat-icon-button (click)="isLayersSidebarActive = !isLayersSidebarActive">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container-fiz">
  <mat-sidenav-content>
    <crg-layers-sidebar [isActive]="isLayersSidebarActive" [layers]="layers"></crg-layers-sidebar>

    <!--Карта-->
    <div id="fiz-openLayer-map" class="crg-map"></div>
  </mat-sidenav-content>
</mat-sidenav-container>

<p-dialog header="Валидация"
          [style]="{width: '450px', height: '500px'}"
          [(visible)]="isValidationDialogShow">
  <crg-validation-dialog [data]="validationDialogData"></crg-validation-dialog>
</p-dialog>

<p-dialog header="Экспорт"
          [style]="{width: '450px', height: '500px'}"
          [(visible)]="isGmlDialogShow">
  <crg-export-dialog [layers]="gmlDialogData"></crg-export-dialog>
</p-dialog>

<crg-report-sidebar [isActive]="isBugReportSidebarActive" [layers]="layers"></crg-report-sidebar>
<crg-view-features [isActive]="isFeaturesSidebarActive" [features]="selectedFeatures"></crg-view-features>
