<mat-toolbar color="primary" class="map-toolbar">
  <button mat-icon-button (click)="snav.toggle(); updateMapSize();">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container-fiz"
                       [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list>
      <mat-selection-list #shoes cdkDropList (cdkDropListDropped)="drop($event)" (selectionChange)="handleSelection(shoes)">
        <div *ngIf="layerNames.length > 0">
          <mat-list-option class="example-box" style="height: 64px"
                           *ngFor="let item of layerNames" cdkDrag>
            <crg-layer-list-item [layerName]="item"></crg-layer-list-item>
          </mat-list-option>
        </div>
        <div *ngIf="layerNames.length == 0" class="empty-layers">
          <span style="margin-left: 40px; margin-right: 40px">Нет слоев</span>
        </div>
      </mat-selection-list>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="fiz-openLayer-map" class="crg-map"></div>
  </mat-sidenav-content>
</mat-sidenav-container>

<p-sidebar [(visible)]="isLayerObjectsSidebarShow" position="bottom" styleClass="{{layerObjectsSidebarSize}}"
           [style]="{padding:'0'}"
           [modal]="false"
           [showCloseIcon]="true"
           [dismissible]="true">
  <!--<crg-layer-objects></crg-layer-objects>-->
</p-sidebar>

<p-sidebar [(visible)]="isBugReportSidebarShow" position="right" styleClass="{{bugReportSidebarSize}}"
           [style]="{padding:'0'}"
           [modal]="false"
           [showCloseIcon]="false"
           [dismissible]="true">
  <crg-validation [isActive]="isBugReportSidebarShow"></crg-validation>
</p-sidebar>
