<div [class]="cn({visible: visible, open: open})" (contextmenu)="onContextMenu($event)">
  <div [class]="cn('menu-trigger')"
      [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y"
      [matMenuTriggerFor]="contextMenu"
      [matMenuTriggerData]="{layer: layer}">
  </div>

  <div [class]="cn('content', {visible: visible})">
    <ng-content></ng-content>

    <div [class]="cn('title')">
      {{layer.title}}
    </div>

    <button
        mat-icon-button
        [ngClass]="cn('visibility-trigger')"
        (click)="toggleVisibility()">
      <mat-icon>visibility{{visible ? '' : '_off'}}</mat-icon>
    </button>

    <button
        mat-icon-button
        [ngClass]="cn('openness-trigger', {open: open})"
        [disabled]="!visible"
        (click)="toggleOpenness()">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>

  <div [class]="cn('extra', {open: open})">
    <div [class]="cn('extra-controls')">
      <mat-slider
          [ngClass]="cn('opacity-control')"
          min="0.1"
          max="1"
          step="0.05"
          [(ngModel)]="opacity">
      </mat-slider>
      <button mat-icon-button
              [ngClass]="cn('menu-control')"
              [matMenuTriggerFor]="contextMenu"
              [matMenuTriggerData]="{layer: layer}">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div [class]="cn('legend')" *ngIf="rules">
      <div [class]="cn('legend-item')" *ngFor="let rule of rules">
        <img [src]="rule.legend" [class]="cn('legend-item-pic')" />
        <div [class]="cn('legend-item-title')">
          {{rule.title}}
        </div>
      </div>
    </div>
    <div *ngIf="!rules && open" [class]="cn('legend', {loading: true})">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div>

  </div>
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="layer">

    <button mat-menu-item (click)="openAttributeTable()">
      <mat-icon>list_alt</mat-icon>
      <span>Открыть таблицу атрибутов</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="addFeature()">
      <mat-icon>add_circle</mat-icon>
      <span>Добавить объект</span>
    </button>

    <button mat-menu-item (click)="export()" *ngIf="!isSimf">
      <mat-icon>archive</mat-icon>
      <span>Экспорт ESRI Shape-файл</span>
    </button>

    <button mat-menu-item (click)="delete()" *ngIf="!isSimf">
      <mat-icon>delete</mat-icon>
      <span>Удалить слой</span>
    </button>
  </ng-template>
</mat-menu>
