.layer-list-item {
  position: relative;

  transition: color 0.3s, opacity 0.3s;

  opacity: 0.7;
  color: var(--gray);

  &_visible {
    opacity: 1;
    color: rgba(0,0,0,0.87);
  }

  &__content {
    display: flex;
    align-items: center;

    min-height: 40px;
    padding: 5px 10px 5px 20px;

    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(0,0,0,0.1);
    }

    &_visible {
      &:hover {
        background-color: rgba(0,0,0,0.07);
      }
    }
  }

  &__visibility-trigger {
    color: var(--primary);
  }

  &__title {
    flex-grow: 1;

    margin: 0 8px;
  }

  &__openness-trigger {
    transition: transform 0.3s;

    color: var(--primary);

    &_open {
      transform: rotate(-90deg);
    }
  }

  &__extra {
    overflow: hidden;

    height: 0;
    padding: 0 20px 5px;

    transition: opacity 0.3s;

    opacity: 0;

    &_open {
      height: auto;

      opacity: 1;
    }
  }

  &__opacity-control {
    width: 100%;

    &.mat-slider:not(.mat-slider-disabled) {
      cursor: pointer;

      ::ng-deep .mat-slider-thumb {
        cursor: pointer;
      }
    }
  }

  &__legend-item {
    display: flex;
    align-items: center;

    margin-bottom: 3px;
  }

  &__legend-item-pic {
    width: 40px;
    height: 20px;
    margin-right: 7px;
  }

  &__legend-item-title {
    flex-grow: 1;

    color: var(--grey);

    font-size: 11px;
    line-height: 1.1;
  }

  &__menu-trigger {
    position: fixed;
  }
}

::ng-deep {
  .cdk-drag-handle {
    cursor: move;

    color: var(--primary);
  }

  .cdk-drag-preview {
    cursor: move;

    background: white;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}
