.content {
  display: grid;

  height: 64px;
  padding-bottom: 3px;

  grid-template-rows: 75% 25%;
}

.alias {
  align-self: center;

  line-height: 1;
}

.legend {
  color: grey;

  font-size: small;
  font-weight: 500;
}
