<div class="layer-list-item">
  <mat-list-option [value]="layer" (contextmenu)="onContextMenu($event)">
    <div class="layer-list-item__menu-trigger"
        [style.left]="contextMenuPosition.x"
        [style.top]="contextMenuPosition.y"
        [matMenuTriggerFor]="contextMenu"
        [matMenuTriggerData]="{layer: layer}">
    </div>

    <div class="layer-list-item__title">
      {{layer.title}}
    </div>

    <!--  <div class="legend">({{getGeometryType(layer.name)}})</div>
    <div>
      <img [src]="imageToShow" alt="legend" height="20" width="20" *ngIf="isImageLoaded">
    </div>-->
  </mat-list-option>
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="layer">

    <button mat-menu-item (click)="openAttributeTable()">
      <mat-icon>list_alt</mat-icon>
      <span>Открыть таблицу атрибутов</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="export()">
      <mat-icon>archive</mat-icon>
      <span>Экспорт ESRI Shape-файл</span>
    </button>

    <button mat-menu-item (click)="delete()">
      <mat-icon>delete</mat-icon>
      <span>Удалить слой</span>
    </button>
  </ng-template>
</mat-menu>
