.content {
  display: grid;
  grid-template-rows: 75% 25%;
  height: 64px;
  padding-bottom: 3px;
}

.alias {
  align-self: center;
  line-height: 1;
}

.legend {
  font-weight: 500;
  font-size: small;
  color: grey;
}
