.layers-sidebar {
  position: fixed;
  z-index: 100;
  top: 55px;
  left: -400px;

  width: 400px;
  height: calc(100% - 55px);

  transition-duration: 0.3s;

  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);

  &_visible {
    left: 0;
  }

  ::ng-deep &__tile-source-select {
    display: block;

    width: calc(100% - 40px);
    margin: 20px 20px 0;
  }

  &__content {
    overflow: auto;

    max-height: calc(100% - 70px);
    padding: 20px 0;
  }

  &__loading {
    padding: 15px;

    text-align: center;
  }
}
