<div class="layers-sidebar" [ngClass]="{'layers-sidebar_visible': !isActive}">

  <crg-tile-source-select class="layers-sidebar__tile-source-select">
  </crg-tile-source-select>

  <div class="layers-sidebar__content scroll">

    <mat-selection-list #fizLayers
                        *ngIf="layers; else layersLoading"
                        cdkDropList
                        (cdkDropListDropped)="drop($event)"
                        (selectionChange)="handleSelection(fizLayers)">
      <crg-layer-list-item *ngFor="let layer of layers"
                          [layer]="layer" cdkDrag
                          (deleteLayer)="onDeleteLayer(layer)">
      </crg-layer-list-item>
    </mat-selection-list>
  </div>
</div>

<ng-template #layersLoading>
  <div class="layers-sidebar__loading">
    Загрузка слоев...
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
</ng-template>
