@import url(../../pages/_app/app.component.css);

.crg-layers-sidebar {
  z-index: 100;
  position: fixed;
  top: 55px;
  left: 0;

  height: calc(100% - 55px);
  width: 400px;

  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .16);

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.crg-layers-sidebar_hidden {
  z-index: 100;
  position: fixed;
  top: 55px;
  left: -400px;

  height: calc(100% - 55px);
  width: 400px;

  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .16);

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.crg-sidebar-header {
  font-size: larger;
  padding: 20px;
}

.crg-sidebar-content {
  overflow: auto;
  max-height: calc(100% - 70px);
}

.mat-menu-item{
  line-height: 30px;
  height: 30px;
}
