.PrintDialog-Scale {
  position: absolute;
  bottom: calc(var(--PrintDialogPreviewSizeFactor) * calc(2.77 * var(--PrintDialogPreviewControlsFactor)));
  left: calc(var(--PrintDialogPreviewSizeFactor) * calc(2.77 * var(--PrintDialogPreviewControlsFactor)));

  width: var(--PrintDialogScaleWidth);
  height: calc(var(--PrintDialogScaleWidth) / 8);

  --PrintDialogScaleWidth: calc(
  var(--PrintDialogPreviewSizeFactor) * calc(69 * var(--PrintDialogPreviewControlsFactor))
  );
}
