<div class="report-sidebar">
  @if (!isEditMode) {
    <div class="crg-report-sidebar-header">
      <re-validate-button class="report-sidebar-button"></re-validate-button>
      Проверка данных
      <crg-export-validation-report-button [layers]="layersWithErrors"></crg-export-validation-report-button>
      <mat-icon class="crg-close-icon" (click)="closeMe()">close</mat-icon>
    </div>
  }

  <div class="crg-report-sidebar-content scroll">
    @if (!isEditMode) {
      <div>
        <div class="container-fluid">
          <div class="row">
            @if (isValidationInited) {
              <crg-loading [percents]="commonProgress"></crg-loading>
            }
            <div class="h-100" style="width: 100%;">
              @if (layers) {
                <mat-accordion class="validation_accordion">
                  @for (layer of layers; track layer; let index = $index) {
                    <mat-expansion-panel
                      [expanded]="step === index + 1"
                      (opened)="setStep(index + 1)"
                      hideToggle
                      >
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <div style="position: relative; top: 4px;">
                            @if (commonInfo.get(layer.resourceId)?.totalViolations > 0) {
                              <mat-icon style="color: tomato;"
                                >error
                              </mat-icon>
                            }
                            @if (!commonInfo.get(layer.resourceId)?.validated) {
                              <mat-icon style="color: lightgrey;"
                                >warning
                              </mat-icon>
                            }
                            @if (isDone(layer.resourceId)) {
                              <mat-icon style="color: forestgreen;">done</mat-icon>
                            }
                          </div>
                          <span style="padding-left: 10px;">{{ layer.title }} ({{ layer.geometryType }})</span>
                        </mat-panel-title>
                        @if (!!commonInfo.get(layer.resourceId)) {
                          <div class="float-right">
                            @if (commonInfo.get(layer.resourceId)?.totalViolations) {
                              <div>
                                <mat-chip-list>
                                  <mat-chip style="color: tomato;">{{
                                    commonInfo.get(layer.resourceId)?.totalViolations
                                  }}</mat-chip>
                                </mat-chip-list>
                              </div>
                            }
                          </div>
                        }
                      </mat-expansion-panel-header>
                      @if (isActive) {
                        <crg-bugs-table
                          [crgLayer]="layer"
                          [step]="step"
                          [index]="index + 1"
                          [isActive]="isActive"
                        ></crg-bugs-table>
                      }
                      <mat-action-row style="padding: 0;">
                        @if (index > 0) {
                          <button mat-button color="warn" (click)="prevStep()">Предыдущий</button>
                        }
                        @if (index < layers.length - 1) {
                          <button mat-button color="primary" (click)="nextStep()">
                            Следующий
                          </button>
                        }
                        @if (index == layers.length - 1) {
                          <button mat-button color="primary" (click)="nextStep()">
                            Закончить
                          </button>
                        }
                      </mat-action-row>
                    </mat-expansion-panel>
                  }
                </mat-accordion>
              } @else {
                <div class="col-12 text-center">
                  Загрузка слоев...
                  <mat-progress-bar mode="query"></mat-progress-bar>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    }

    @if (isEditMode) {
      <div>
        <crg-edit-bug-object [data]="objectsToEdit" (closeMe)="switchMode()"></crg-edit-bug-object>
      </div>
    }
  </div>
</div>
