@import url(../../../pages/_app/app.component.css);

.validation_accordion {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.validation_button {
  margin-left: auto;
}

::ng-deep .validation_accordion .mat-expansion-panel-header {
  display: grid;
  height: 50px;
  padding: 0 10px;
}

::ng-deep .validation_accordion .mat-paginator-container {
  max-height: 36px;
}

/*::ng-deep .validation_accordion .mat-expansion-panel {*/
/*  background-color: ghostwhite;*/
/*}*/

/*::ng-deep .validation_accordion .mat-accordion .mat-expansion-panel:last-of-type {*/
/*  border-bottom-right-radius: 24px;*/
/*  border-bottom-left-radius: 24px;*/
/*}*/

.mat-raised-button {
  min-width: 34px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding: 0;
}

.crg-validation-sidebar {
  z-index: 100;
  position: fixed;
  top: 104px;
  left: calc(100% - 550px);

  height: calc(100% - 104px);
  width: 550px;

  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .16);

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.crg-validation-sidebar_hidden {
  z-index: 100;
  position: fixed;
  top: 104px;
  left: 100%;

  height: calc(100% - 104px);
  width: 550px;

  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .16);

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.crg-report-sidebar-header {
  font-size: larger;
  padding: 20px 20px 5px 20px;
}

.crg-report-sidebar-content {
  overflow: auto;
  max-height: 100%;
}

.crg-close-icon {
  position: relative;
  top: 8px;
  cursor: pointer;
  color: grey;
  float: right;
}

.revalidation-b {
  margin-right: 10px;
}
