.validation_accordion {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}

.validation_button {
  margin-left: auto;
}

::ng-deep .validation_accordion .mat-expansion-panel-header {
  display: grid;

  height: 50px;
  padding: 0 10px;
}

::ng-deep .validation_accordion .mat-paginator-container {
  max-height: 36px;
}

/*::ng-deep .validation_accordion .mat-expansion-panel {*/
/*  background-color: ghostwhite;*/
/*}*/

/*::ng-deep .validation_accordion .mat-accordion .mat-expansion-panel:last-of-type {*/
/*  border-bottom-right-radius: 24px;*/
/*  border-bottom-left-radius: 24px;*/
/*}*/

.mat-raised-button {
  width: 34px;
  min-width: 34px;
  height: 34px;
  padding: 0;

  border-radius: 50%;
}

.crg-validation-sidebar {
  position: fixed;
  z-index: 100;
  top: 55px;
  left: calc(100% - 550px);

  width: 550px;
  height: calc(100% - 55px);

  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;

  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
}

.crg-validation-sidebar_hidden {
  position: fixed;
  z-index: 100;
  top: 55px;
  left: 100%;

  width: 550px;
  height: calc(100% - 55px);

  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;

  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
}

.crg-report-sidebar-header {
  padding: 20px 20px 5px 20px;

  font-size: larger;
}

.crg-report-sidebar-content {
  overflow: auto;

  max-height: 100%;
}

.crg-close-icon {
  position: relative;
  top: 8px;

  float: right;

  cursor: pointer;

  color: grey;
}

.revalidation-b {
  margin-right: 10px;
  outline: none;
}
