.LibraryDocumentDialog {
  &-TypeIcon {
    position: relative;
    top: -1px;

    display: inline;

    margin-right: 8px;
  }

  &-Document {
    max-height: calc(100vh - 220px);
  }

  &-TitleDeleted {
    color: var(--error);
  }
}
