.workspace-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-content: space-between;
  align-items: center;

  height: 55px;
  padding: 4px 16px;

  color: var(--white);
  background: #3f51b5;

  font-weight: 500;

  &__title {
    align-self: flex-start;
    flex-grow: 1;

    font-size: 18px;
    text-align: center;
  }
}
