<div class="workspace-header">
  <div class="workspace-header__org-name">
    {{userModel?.orgName}}
  </div>

  <crg-crg-stepper></crg-crg-stepper>

  <mat-icon class="workspace-header__notification"
            (click)="notification()"
            *ngIf="notificationCounter == 0">
    notifications
  </mat-icon>
  <mat-icon class="workspace-header__notification"
            matBadge="{{notificationCounter}}"
            matBadgeColor="warn"
            *ngIf="notificationCounter > 0"
            (click)="notification()">
    notifications
  </mat-icon>

  <div class="workspace-header__user">
    <div class="workspace-header__user-name">{{userModel?.userName}}</div>
    <button class="workspace-header__user-icon" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logout()">
    Выход
  </button>
</mat-menu>
