@import 'workspace-header@common.component.scss';

.workspace-header {
  &__notification {
    margin-right: 20px;

    cursor: pointer;
  }

  &__user {
    display: flex;
    align-items: center;

    font-weight: 400;
  }
}
