# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
.openapi-generator/

# Eclipse
**/*.project
**/*.classpath
**/*.settings

# VS Code
.vscode/
_libs/auth-facade/bin/

scripts/result.txt
