# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
.openapi-generator/

# Eclipse
**/*.project
**/*.classpath
**/*.settings

# VS Code
.vscode/
_libs/auth-facade/bin/

scripts/result.txt

#Applications
*application.dev.yml
.env

# Test temporary files
tests/acceptance-tests/src/test/resources/ru/mycrg/acceptance/resources/tempTestData/

