<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <!-- Expires on: 11.03.2023 -->
            <id>GisPlatformFeed</id>
            <username>programgeoplan</username>
            <password>wa77z6jnotx3k5yny36m7j5op2wyxbem6sha3s3md7yo5pu67dya</password>
        </server>
    </servers>
</settings>
