body .RestorePassword {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  padding-top: 20px;

  &-Actions {
    display: flex;
    justify-content: flex-end;

    padding-top: 10px;
  }

  &-Title {
    font-size: 18px;
  }

  &-Message {
    margin-bottom: 7px;

    line-height: 26px;
  }
}
