body .Carousel {
  &-Slide {
    display: flex;
    justify-content: center;

    height: 700px;
    padding: 46px;
  }

  &-Slide_height_fullHeight {
    height: 100%;
  }

  &-Image {
    max-width: 100%;

    object-fit: contain;
  }

  &-Right {
    position: absolute;
    top: calc(50% - 43px);
    right: 20px;
  }

  &-Left {
    position: absolute;
    top: calc(50% - 43px);
    left: 0;
  }

  &-Document {
    width: 100%;

    canvas {
      width: 100% !important;
      max-width: 100%;
      height: auto !important;
    }
  }

  &-OpenInFull {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
