.HtmlContent {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

  details {
    position: relative;

    margin-bottom: 15px;
    padding: 0 0 0 20px;
  }

  summary {
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    position: absolute;
    top: 0.5em;
    left: 0;
  }

  details[open] > summary {
    margin-bottom: 10px;
  }
}
