<script src="register.component.ts"></script>
<div class="container">

  <crg-header></crg-header>

  <form [formGroup]="registrationForm"
        novalidate
        (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Данные об организации</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="row">
          <div class="col-9">
            <mat-form-field class="full-width">
              <input matInput placeholder="Наименование" formControlName="company"
                     minlength="2" maxlength="400">
              <mat-error *ngIf="registrationForm.controls['company'].hasError('required')">
                Обязательное для заполнения поле
              </mat-error>
              <mat-error *ngIf="registrationForm.controls['company'].hasError('minlength')">
                Поле должно содержать не менее 2 символов
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="full-width">
              <input type="tel" matInput placeholder="Контактный телефон" formControlName="contactPhone" prefix="+7" mask="(000) 000-00-00" minlength="10">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error *ngIf="registrationForm.controls['contactPhone'].hasError('required')">
                Обязательное для заполнения поле
              </mat-error>
              <mat-error *ngIf="registrationForm.controls['contactPhone'].hasError('minlength')">
                Пожалуйста введите телефонный номер в формате +7 (ххх) ххх-хх-хх
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-header>
        <mat-card-title>Данные о пользователе</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Фамилия" formControlName="lastName"
                     maxlength="20" minlength="2">
              <mat-error *ngIf="registrationForm.controls['lastName'].hasError('minlength')">
                Поле должно содержать не менее 2 символов
              </mat-error>
              <mat-error *ngIf="registrationForm.controls['lastName'].hasError('maxlength')">
                Поле должно содержать не более 20 символов
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Имя" formControlName="firstName"
                     maxlength="20" minlength="2">
              <mat-error *ngIf="registrationForm.controls['firstName'].hasError('required')">
                Обязательное для заполнения поле
              </mat-error>
              <mat-error *ngIf="registrationForm.controls['firstName'].hasError('minlength')">
                Поле должно содержать не менее 2 символов
              </mat-error>
              <mat-error *ngIf="registrationForm.controls['firstName'].hasError('maxlength')">
                Поле должно содержать не более 20 символов
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input type="email" matInput placeholder="E-mail" formControlName="email">
              <mat-icon matSuffix>mail</mat-icon>
              <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
                Обязательное для заполнения поле
              </mat-error>
              <mat-error *ngIf="registrationForm.controls['email'].hasError('email')">
                Не верно введён e-mail
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input type="password" matInput placeholder="Пароль" formControlName="password">
              <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
                Обязательное для заполнения поле
              </mat-error>
              <mat-error *ngIf="registrationForm.controls['password'].hasError('pattern')">
                Пароль должен содержать цифры, заглавную букву, быть не менее 8 символов без пробелов
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input type="password" matInput placeholder="Подтверждение пароля" formControlName="password_">
              <mat-error *ngIf="registrationForm.controls['password_'].hasError('required')">
                Обязательное для заполнения поле
              </mat-error>
              <mat-error *ngIf="registrationForm.controls['password_'].hasError('mustMatch')">
                Введенные пароли не совпадают. Повторите ввод пароля и его подтверждения
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions style="display: flex">
        <div>
          <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">Зарегистрироваться</button>
        </div>
        <div class="linkLogin">
          <mat-card-content>Уже есть учетная запись?</mat-card-content>
          <a class="float-right ml-lg-3" routerLink="/login">ВОЙТИ</a>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>

  <!--<crg-footer></crg-footer>-->
</div>
