.UpHeader {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1vh;
  padding: 1vh 0;

  color: #fff;
  background-color: var(--blue);

  &-Title {
    margin: 0;

    font-size: 17px;
    font-weight: 400;
  }

  &-User {
    position: absolute;
    right: 15px;
  }
}
