<mat-toolbar color="primary" class="workspace-page_toolbar">
  <h6 class="fiz-toolbar">Импорт данных</h6>
</mat-toolbar>

<div class="container">
  <mat-card>
    <div class="row">
      <div class="col-9">

        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
          <div style="text-align: center; margin-top: 10px; margin-bottom: 10px">
            <span>Перетащите zip архив с shape файлами</span>
            <span style="display: block">или</span>
            <div>
              <button mat-raised-button
                      (click)="fileInput.click(); uploader.clearQueue();
                      isUploadComplete = false; isWrongExt = false; isImportFailed = false;">
                Откройте проводник для выбора файла</button>
              <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                <input type="file" #fileInput ng2FileSelect [uploader]="uploader"/>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3" style="align-self: center">
        <button mat-raised-button class="float-right"
                [disabled]="!uploader.queue[0] || checkFile(uploader?.queue[0]?._file.name)"
                (click)="initScratchImport()">
          <mat-icon *ngIf="!isImportInited" aria-label="label">cloud_download</mat-icon>
          <span *ngIf="!isImportInited">&nbsp;Загрузка</span>

          <img src="../../../../assets/images/loader.gif" alt="logo" *ngIf="isImportInited"
               style="margin-left: 33px; margin-right: 33px" height="26" width="26">
        </button>
      </div>
    </div>

    <div class="row" style="padding-top: 20px">
      <div class="col-9">
        <div *ngIf="isWrongExt" class="float-left text-danger">Неверный формат файла</div>
        <div class="float-right" *ngIf="uploader?.queue[0]">{{uploader.queue[0]?.file?.size/1024/1024 | number:'.2'}} Mb</div>
        <div class="float-right" *ngIf="uploader?.queue[0]">&nbsp;......&nbsp;</div>
        <div class="float-right">{{uploader?.queue[0]?._file.name}}</div>
      </div>
    </div>

    <div class="row justify-content-center text-danger" style="padding-top: 10px">
      <div *ngIf="isImportFailed">Не удается загрузить архив, проверьте вложенные файлы.</div>
    </div>

    <div class="row" style="padding-top: 40px">
      <div class="col-12" style="align-self: center; text-align: center">
        <button mat-stroked-button class="float-left" routerLink="/workspace/projects">
          Вернуться к выбору проекта
        </button>
        <button mat-raised-button class="float-right mat-primary" [disabled]="!isUploadComplete"
                (click)="next()">
          Далее
        </button>
      </div>
    </div>
  </mat-card>

</div>
