<div [ngClass]="isActive? 'crg-info-sidebar' : 'crg-info-sidebar_hidden'">
  <div class="crg-sidebar-header">
    <mat-icon class="crg-close-icon" (click)="closeMe()">close</mat-icon>
    Уведомления
  </div>
  <div class="crg-sidebar-content scroll">
    <div *ngFor="let event of events">
      <crg-progress-item [event]="event"></crg-progress-item>
    </div>

    <div class="no-events" *ngIf="!events.length">
      <mat-icon class="no-events-icon">notifications_none</mat-icon>
      <span style="display: block;">Нет новых уведомлений</span>
    </div>
  </div>
</div>
