@import url(../../_app/app.component.css);

.projects-container {
  overflow: auto;
  height: calc(100% - 35px);
}

.project-item {
  background: lightsteelblue;

  border-radius: 5px;
}

.new-project-item {
  background: aliceblue;

  border-width: thin;
  border-style: dotted;
  border-color: lightsteelblue;
  border-radius: 5px;

  cursor: pointer;
}

.project-item-footer {
  background: lightslategray;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;

  text-align: -webkit-center;
  font-weight: 500;
  color: white;

  cursor: pointer;
}

.fiz-class {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.project-form {
  width: 100%;
  float: left;
  padding: 10px;
}

.project-name {
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-height: 20px;
  max-height: 100px;
  text-align: center;
  margin-top: -25px;
}

.project-remove-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 3px;
  color: lightslategray;
  cursor: pointer;
}

.error-text {
  color: tomato;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.project-info {
  position: absolute;
  bottom: 35px;
  left: 5px;

  font-family: monospace;
  font-size: smaller;
}
