@import url(../../_app/app.component.css);

.project-item {
  background: lightsteelblue;

  border-radius: 5px;
}

.new-project-item {
  background: aliceblue;

  border-width: thin;
  border-style: dotted;
  border-color: lightsteelblue;
  border-radius: 5px;

  cursor: pointer;
}

.project-item-footer {
  background: lightslategray;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;

  text-align: -webkit-center;
  font-weight: 500;
  color: white;

  cursor: pointer;
}

.fiz-class {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.project-form {
  width: 100%;
  float: left;
  padding: 10px;
}

.text-block {
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.project-remove-icon {
  position: absolute;
  right: 0;
  top: 0;

  padding-top: 3px;
  color: lightslategray;
  cursor: pointer;
}

.error-text {
  color: tomato;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
