@import url(../../_app/app.component.css);

.projects-container {
  overflow: auto;
  height: calc(100% - 35px);
}

.project-item {
  overflow: hidden;

  border-radius: 5px;
}

.inner-div {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
  background-image: url('../../../../assets/images/gis5.png');
}

.inner-div:hover {
  transform: scale(1.1);
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 23px;
  font: 14px/1.3 'Source Code Pro', monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  border-radius: 1px 1px 0 0;
  z-index: 100;
}

.layer-icon {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  padding: 4px 9px 7px 9px;
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  font: 18px 'Source Code Pro', monospace;
  color: #111;
  z-index: 100;
  cursor: pointer;
}

.new-project-item {
  background: aliceblue;

  border-width: thin;
  border-style: dotted;
  border-color: lightsteelblue;
  border-radius: 5px;

  cursor: pointer;
}

.project-item-footer {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff70;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;

  font-weight: 500;
  color: white;

  cursor: pointer;
}

.fiz-class {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.project-form {
  width: 100%;
  float: left;
  padding: 10px;
}

.project-name {
  color: ghostwhite;
  position: absolute;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-height: 20px;
  max-height: 100px;
  text-align: center;
  margin-top: -25px;
}

.project-remove-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 3px;
  color: ghostwhite;
  cursor: pointer;
}

.error-text {
  color: tomato;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.project-info {
  position: absolute;
  bottom: 35px;
  left: 5px;

  font-family: monospace;
  font-size: smaller;
}
