<crg-page-title>
  Проекты
</crg-page-title>

<div class="container projects-container">
  <mat-grid-list [gutterSize]="10" cols="3" rowHeight="2:1">

    <mat-grid-tile class="new-project-item" (click)="switchMode()">
      <div *ngIf="!isEditMode">
        <mat-icon style="float: left; font-size: 30px">add</mat-icon>
        <span style="font-size: larger; padding-left: 5px">Создать новый проект</span>
      </div>

      <div *ngIf="isEditMode" class="fiz-class">
        <mat-form-field class="project-form">
          <input matInput maxlength="60" placeholder="Название проекта" [(ngModel)]="projectName">
          <mat-hint align="end">{{projectName.length}} / 60</mat-hint>
          <button mat-button *ngIf="projectName" matSuffix mat-icon-button aria-label="Clear" (click)="projectName=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <div *ngIf="true" class="error-text">{{errorMsg}}</div>

        <div class="project-item-footer" style="background-color: lightslategray!important;">
          <button mat-button (click)="cancel($event)">Отмена</button>
          <button mat-button (click)="createNew($event)" [disabled]="!projectName" >Сохранить</button>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="!isProjectsLoaded">
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
    <div *ngIf="isProjectsLoaded">
      <mat-grid-tile *ngFor="let pItem of projects"
                     [ngClass]="pItem.status !== pending ? 'project-item' : 'new-project-item'"
                     (mouseover)="hoverBy(pItem)" (mouseleave)="stopHover()">
        <div *ngIf="pItem.status.valueOf() === done.valueOf()" class="inner-div"></div>

        <mat-icon class="project-remove-icon" *ngIf="activeProject === pItem.internalName && pItem.status !== pending"
                  (click)="openDeleteDialog(pItem)">delete</mat-icon>
        <div class="project-name"
             *ngIf="pItem.status !== pending">{{pItem.internalName}}</div>
        <div class="project-info"
             *ngIf="pItem.status !== pending">Слоев загружено: {{pItem.layersCount}}</div>

        <div class="project-item-footer" (click)="openProject(pItem)"
             *ngIf="pItem.status !== pending">
          <span style="margin: auto">Открыть</span>
        </div>

        <mat-spinner *ngIf="pItem.status === pending"></mat-spinner>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
