.BaseMapsSelect {
  min-width: 200px;

  vertical-align: middle;

  font-size: 16px;

  &-Thumbnail {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }

  & &-SelectRoot {
    padding: 6px 0 6px 10px;
  }
}
