<div *ngIf="!layer">
  <h6>Выберите слой</h6>
</div>
<div *ngIf="!!layer">
  <div class="row m-0 py-2">
    <div class="col-4 p-0 align-self-center"><h6>Сопоставте слой</h6></div>
    <mat-form-field class="col-8 p-0">
      <mat-select placeholder="Целевой слой" [disabled]="entityTypes.length === 0">
        <mat-option *ngFor="let entityItem of entityTypes | geometry:layer" [value]="entityItem.name"
                    (click)="entityTypeSelected(entityItem.tableName)">
          <span style="font-size: smaller">({{entityItem.tableName}})</span> {{entityItem.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row" style="text-align: center">
    <div class="col-12">
      <h3 class="mat-h2 m-0">Сопоставте атрибуты</h3>
    </div>
  </div>

  <div class="container">
    <div *ngFor="let layer_attribute of layer.attributes" style="margin-bottom: 5px">
      <crg-mapping-pair [layer_attribute]="layer_attribute"
                        [layerName]="layer.originalName"
                        [properties]="typeProperties"></crg-mapping-pair>
    </div>
  </div>
</div>
