<org.geoserver.security.jdbc.config.JDBCConnectAuthProviderConfig>
  <id>4c78dfb3:16c67708871:-7ffa</id>
  <name>PostgresDb</name>
  <className>org.geoserver.security.jdbc.JDBCConnectAuthProvider</className>
  <driverClassName>org.postgresql.Driver</driverClassName>
  <connectURL>jdbc:postgresql://postgis:5432/geoserver_db</connectURL>
  <userGroupServiceName>postgres_db_user_service</userGroupServiceName>
</org.geoserver.security.jdbc.config.JDBCConnectAuthProviderConfig>
