<div class="progress-item">
  <div class="progress-icon">
    @if (inProgress()) {
      <mat-spinner class="crg-spinner crg-center"></mat-spinner>
    }
    @if (event?.payload.payload.status === 'DONE') {
      <mat-icon class="crg-progress-done success">done_all</mat-icon>
    }
    @if (event?.payload.payload.status === 'DONE_WITH_WARNINGS') {
      <mat-icon class="crg-progress-done warning">warning</mat-icon>
    }
    @if (event?.payload.payload.status === 'ERROR') {
      <mat-icon class="crg-progress-done error">error_outline</mat-icon>
    }
  </div>

  <div class="progress-content">
    <div class="cut-text content-description">{{ getDescription() }}</div>
    @if (isShowActionBlock()) {
      <div class="content-action">
        @if (isShowDownloadLink()) {
          <div (click)="download()">
            <mat-icon class="content-link-icon info">archive</mat-icon>
            <span class="content-link-text">Скачать</span>
          </div>
        }
        <crg-import-gml-results-button [event]="event.payload"></crg-import-gml-results-button>
        <mat-icon class="info-close-icon" (click)="closeNotice()">delete</mat-icon>
      </div>
    }
  </div>
</div>
