<div class="progress-item">
  <div class="progress-icon">
    <mat-spinner class="crg-spinner crg-center" *ngIf="isSpinner()"></mat-spinner>
    <mat-progress-spinner class="crg-spinner crg-center"
                          [value]="event.payload.payload.progress" *ngIf="isProgress()"></mat-progress-spinner>
    <mat-icon class="crg-progress-done success" *ngIf="event.payload.payload.status === 'DONE'">done_all</mat-icon>
    <mat-icon class="crg-progress-done error" *ngIf="event.payload.payload.status === 'ERROR'">error_outline</mat-icon>
  </div>

  <div class="progress-content">
    <div class="cut-text">{{getDescription()}}</div>
    <div class="content-action" *ngIf="isShowActionBlock()">
      <div *ngIf="isShowDownloadLink()" (click)="download()">
        <mat-icon class="content-link-icon info">archive</mat-icon>
        <span class="content-link-text">{{getLinkTitle()}}</span>

<!--        <mat-icon class="content-link-icon error" (click)="download(false)">error</mat-icon>-->
<!--        <span class="content-link-text">Ошибки</span>-->
      </div>
      <mat-icon class="info-close-icon" (click)="closeNotice()">delete</mat-icon>
    </div>
  </div>
</div>
