<securityInterceptor>
  <id>60b7c14f:16c676ab60a:-7feb</id>
  <name>restInterceptor</name>
  <className>org.geoserver.security.filter.GeoServerSecurityInterceptorFilter</className>
  <allowIfAllAbstainDecisions>false</allowIfAllAbstainDecisions>
  <securityMetadataSource>restFilterDefinitionMap</securityMetadataSource>
</securityInterceptor>