.PrintDialog {
  &-Preview {
    margin-bottom: 14px;
    padding-top: calc(var(--PrintDialogPreviewSizeFactor) * calc(var(--PrintDialogPreviewMarginTop) * var(--PrintDialogPreviewMarginFactor)));
    padding-right: calc(var(--PrintDialogPreviewSizeFactor) * calc(var(--PrintDialogPreviewMarginRight) * var(--PrintDialogPreviewMarginFactor)));
    padding-bottom: calc(var(--PrintDialogPreviewSizeFactor) * calc(var(--PrintDialogPreviewMarginBottom) * var(--PrintDialogPreviewMarginFactor)));
    padding-left: calc(var(--PrintDialogPreviewSizeFactor) * calc(var(--PrintDialogPreviewMarginLeft) * var(--PrintDialogPreviewMarginFactor)));

    --PrintDialogPreviewSizeFactor: 1.6;

    &_orientation {
      &_l {
        width: calc(var(--PrintDialogPreviewSizeFactor) * 297px);
        height: calc(var(--PrintDialogPreviewSizeFactor) *  210px);
      }

      &_p {
        width: calc(var(--PrintDialogPreviewSizeFactor) * 210px);
        height: calc(var(--PrintDialogPreviewSizeFactor) * 297px);
      }
    }

    &_pageFormat {
      &_a3 {
        --PrintDialogPreviewMarginFactor: 0.5px;
      }

      &_a4 {
        --PrintDialogPreviewMarginFactor: 1px;
      }

      &_a5 {
        --PrintDialogPreviewMarginFactor: 2px;
      }
    }
  }

  &-PreviewImageContainer {
    position: relative;

    overflow: hidden;

    cursor: move;

    background-color: #ccc;
  }

  &-PreviewImage {
    width: 100%;
    height: 100%;

    transform: translate(calc(var(--PrintDialogPreviewShiftX) * 1px), calc(var(--PrintDialogPreviewShiftY) * 1px));
  }
}
