.Projects-List {
  display: grid;
  justify-content: center;
  gap: 20px 10px;
  grid-template-columns: repeat(var(--ProjectsListColumns), minmax(310px, 410px));

  padding: 0 40px;

  --ProjectsListColumns: 3;

  @media (width <= 970px) {
    --ProjectsListColumns: 2;
  }

  @media (width <= 670px) {
    --ProjectsListColumns: 1;
  }
}
