.EditFeatureGeometry-ViewGroupControls.EditFeatureGeometry-ViewGroupControls {
  position: absolute;
  top: 0;
  left: calc(100% + 10px);

  padding: 2px;

  transition:
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    opacity 0.3s;

  opacity: calc(0.2 + var(--EditFeatureGeometryViewGroupHovered));

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;

    width: 10px;

    content: '';
  }
}
