.FeaturesListItem {
  position: relative;

  display: grid;

  padding: 7px 5px 7px 5px;

  transition: background-color 0.15s;

  grid-template: auto auto / 45px auto 100px;
  grid-template-areas: 'id title buttons' 'id layer buttons';

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    transition: background-color 0.15s;

    background: rgba(0,0,0,0);
  }

  &:hover {
    background: rgba(0,0,0,0.05);
  }

  &:active {
    &::before {
      background: rgba(0,0,0,0.05);
    }
  }

  &_highlighted,
  &_highlighted:hover {
    background: rgba(100,0,100,0.1);
  }

  &-Id {
    align-self: center;

    width: 45px;

    text-align: center;

    color: var(--gray);

    font-size: 12px;
    line-height: 20px;

    justify-self: center;
    grid-area: id;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: '';
    }
  }

  &-Title {
    padding-bottom: 2px;

    line-height: 1.1;

    grid-area: title;;
  }

  &-Layer {
    color: var(--gray);

    font-size: 12px;
    line-height: 1.1;

    grid-area: layer;
  }

  & &-Buttons {
    align-self: center;

    transition: opacity 0.15s;

    opacity: 0.2;

    grid-area: buttons;
    justify-self: end;
  }

  &:hover &-Buttons,
  &_highlighted &-Buttons,
  & &-Buttons:focus {
    opacity: 1;
  }
}
