.FeaturesListItem {
  position: relative;

  display: grid;
  grid-template: auto auto / 50px auto 100px;
  grid-template-areas: "id title buttons" "id layer buttons";

  padding: 7px 5px;

  transition: background-color 0.15s;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";
    transition: background-color 0.15s;

    background: rgb(0 0 0 / 0%);
  }

  &:hover {
    background: rgb(0 0 0 / 5%);
  }

  &:active {
    &::before {
      background: rgb(0 0 0 / 5%);
    }
  }

  &_highlighted,
  &_highlighted:hover {
    background: rgb(100 0 100 / 10%);
  }

  &-Id {
    grid-area: id;

    align-self: center;

    width: 50px;

    text-align: center;

    color: var(--gray);

    font-size: 12px;
    line-height: 20px;

    justify-self: center;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: "";
    }

    &_disabled {
      color: var(--gray);
    }
  }

  &-Title {
    grid-area: title;

    padding-bottom: 2px;

    line-height: 1.1;

    &_disabled {
      color: var(--gray);
    }
  }

  &-Layer {
    grid-area: layer;

    color: var(--gray);

    font-size: 12px;
    line-height: 1.1;
  }

  & &-Buttons {
    grid-area: buttons;

    align-self: center;

    transition: opacity 0.15s;

    opacity: 0.2;

    justify-self: end;
  }

  &_highlighted &-Buttons,
  &:hover &-Buttons,
  & &-Buttons:focus {
    opacity: 1;
  }
}
