.FeaturesListItem {
  position: relative;

  display: grid;
  grid-template: auto auto / 50px 18px auto 100px;
  grid-template-areas: 'id icon title buttons' 'id icon layer buttons';

  height: 54px;
  padding: 7px 5px;

  transition: background-color 0.15s;

  &::before {
    position: absolute;
    z-index: -1;
    inset: 0;

    content: '';
    transition: background-color 0.15s;

    background: rgb(0 0 0 / 0%);
  }

  &:hover {
    background: rgb(0 0 0 / 5%);
  }

  &:active {
    &::before {
      background: rgb(0 0 0 / 5%);
    }
  }

  &_highlighted,
  &_highlighted:hover {
    background: rgb(100 0 100 / 10%);
  }

  &-Id {
    grid-area: id;

    overflow: hidden;

    width: 30px;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: var(--gray);

    font-size: 12px;
    line-height: 20px;

    place-self: center center;

    &::before {
      position: absolute;
      inset: 0;

      content: '';
    }

    &_disabled {
      color: var(--gray);
    }
  }

  &-Title {
    grid-area: title;

    overflow: hidden;

    padding-bottom: 2px;

    white-space: nowrap;
    text-overflow: ellipsis;

    line-height: 1.1;

    &_disabled {
      color: var(--gray);
    }

    &_isEmpty {
      opacity: 0.8;

      font-style: italic;
    }
  }

  &-Layer {
    grid-area: layer;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: var(--gray);

    font-size: 12px;
    line-height: 1.1;
  }

  & &-Buttons {
    grid-area: buttons;

    transition: opacity 0.15s;

    opacity: 0.2;

    place-self: center end;
  }

  &-Icon {
    grid-area: icon;

    width: 26px;

    line-height: 16px;

    place-self: center flex-end;
  }

  &-Svg {
    margin-right: 5px;

    font-size: 16px;
  }

  &_highlighted &-Buttons,
  &:hover &-Buttons,
  & &-Buttons:focus {
    opacity: 1;
  }
}
