<div [ngClass]="isAttributeSidebarOpened? 'crg-view-features-sidebar short-sidebar' : 'crg-view-features-sidebar full-sidebar'">
  <div *ngIf="!isEditMode">
    <div class="crg-sidebar-header">
      <mat-icon class="crg-close-icon" (click)="closeMe()">close</mat-icon>
      <mat-icon class="edit-icon fiz-border"
                (click)="editFeatures()"
                matTooltip="Редактировать выделенные объекты"
                *ngIf="!isSimf">
        edit
      </mat-icon>
      Объекты
    </div>

    <ng-container *ngIf="data?.features; else noFeatures">
      <mat-nav-list role="list"
                    [ngClass]="isAttributeSidebarOpened? 'feature-content scroll short-h' : 'feature-content scroll full-h'">
        <mat-list-item role="listitem" *ngFor="let feature of viewFeatures; let index = index"
                       (click)="selectFeature(feature)" style="height: 60px">
          <div class="feature-info">
            <div></div>
            <div class="feature-id">ID: {{feature.id.split('.')[1]}}</div>
            <div class="feature-alias">
              {{ getTitle(feature) }}
            </div>
          </div>
        </mat-list-item>
      </mat-nav-list>

      <mat-paginator class="paginator-style" (page)="onPaging($event)"
                     [length]="data?.features.length"
                     [pageIndex]="pageInfo.count"
                     [pageSize]="pageInfo.pageSize">
      </mat-paginator>
    </ng-container>

    <ng-template #noFeatures>
      <div class="col-12 text-center">
        Объекты не выбраны
      </div>
    </ng-template>
  </div>

  <div *ngIf="isEditMode">
    <crg-edit-feature [data]="editFeatureData" (closeMe)="switchMode()"></crg-edit-feature>
  </div>

</div>
