<div [ngClass]="isActive? 'crg-view-features-sidebar' : 'crg-view-features-sidebar_hidden'">
  <div *ngIf="!isEditMode">
    <div class="crg-sidebar-header">
      <mat-icon class="crg-close-icon" (click)="closeMe()">close</mat-icon>
      Обьекты
    </div>

    <ng-container *ngIf="features; else noFeatures">
      <mat-nav-list role="list" class="crg-view-feature-content scroll">
        <mat-list-item role="listitem" *ngFor="let feature of features; let index = index"
                       (click)="selectFeature(feature)" style="height: 60px">
          <div class="feature-info">
            <div class="fiz-p">
              {{index + 1}}.
            </div>
            <div class="feature-id">
              ID: {{feature.id.split('.')[1]}}
            </div>
            <div class="feature-alias">
              {{rulesService.getClassIdAlias(feature.id.split('.')[0], feature.properties)}}
            </div>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </ng-container>

    <ng-template #noFeatures>
      <div class="col-12 text-center">
        Обьекты не выбраны
      </div>
    </ng-template>
  </div>

  <div *ngIf="isEditMode">
    <crg-edit-feature [feature]="selectedFeature" (closeMe)="switchMode()"></crg-edit-feature>
  </div>

</div>
