.full-sidebar {
  height: calc(100% - 55px);
}

.short-sidebar {
  height: calc(100% - 501px);
}

.crg-view-features-sidebar {
  position: fixed;
  z-index: 100;
  top: 55px;
  left: calc(100% - 550px);
  /*height: calc(100% - 55px);*/

  width: 550px;

  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;

  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
}

.crg-view-features-sidebar_hidden {
  position: fixed;
  z-index: 100;
  top: 55px;
  left: 100%;

  width: 550px;
  height: calc(100% - 55px);

  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;

  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
}

.crg-sidebar-header {
  padding: 20px;

  font-size: larger;
}

.crg-close-icon {
  float: right;

  cursor: pointer;

  color: grey;
}

.edit-icon {
  float: right;

  margin-right: 10px;

  cursor: pointer;

  color: grey;
}

.content-list-mode {
  display: flex;
  flex-direction: column;

  height: 100%;
}
