<div [ngClass]="isAttributeSidebarOpened? 'crg-view-features-sidebar short-sidebar' : 'crg-view-features-sidebar full-sidebar'">
  <div *ngIf="!isEditMode" class="content-list-mode">
    <div class="crg-sidebar-header">
      <mat-icon class="crg-close-icon" (click)="closeMe()">close</mat-icon>
      Объекты
    </div>

    <crg-features-list
        [features]="viewFeatures"
        (onItemSelect)="selectFeature($event)"
        (onItemHighlight)="highlightFeature($event)">
    </crg-features-list>
  </div>

  <div *ngIf="isEditMode">
    <crg-edit-feature [data]="editFeatureData" (closeMe)="switchMode()" (delete)="deleteHandler($event)">
    </crg-edit-feature>
  </div>
</div>
