@import url(../../pages/_app/app.component.css);

.crg-view-feature-content {
  overflow: auto;
  max-height: 100%;
}

.crg-view-features-sidebar {
  z-index: 100;
  position: fixed;
  top: 55px;
  left: calc(100% - 550px);

  height: calc(100% - 55px);
  width: 550px;

  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .16);

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.crg-view-features-sidebar_hidden {
  z-index: 100;
  position: fixed;
  top: 55px;
  left: 100%;

  height: calc(100% - 55px);
  width: 550px;

  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .16);

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.crg-sidebar-header {
  font-size: larger;
  padding: 20px;
}

.crg-close-icon {
  cursor: pointer;
  color: grey;
  float: right;
}

.feature-info {
  height: 100%;
  width: 98%;
  position: absolute;
  top: 0;
  left: 5px;

  display: grid;
  grid-column-gap: 3px;
  grid-template-rows: 34% 66%;
  grid-template-columns: 7% 93%;
}

.feature-alias {
  grid-column-start: 2;
  grid-row-start: 2;

  font-size: small;
}

.feature-id {
  font-weight: bold;
}
