body .LibraryRegistry {
  position: relative;

  overflow: hidden;

  height: 100%;
  padding: 20px 30px 44px;

  &-Table {
    height: 100%;
  }

  &-CSV {
    margin-right: 10px;
  }

  &-Actions {
    opacity: 0.3;
  }

  &-Actions:focus,
  &-Actions.Actions_open,
  .MuiTableRow-hover:hover .LibraryRegistry-Actions {
    opacity: 1;
  }

  &-BreadcrumbsTextTitle {
    display: flex;
    align-items: center;
  }

  &-BreadcrumbsTextTitleIcon.MuiSvgIcon-root {
    margin-right: 8px;

    font-size: 24px;
  }
}
