.crg-restore-password-form-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  background-color: var(--light-blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
