<div class="crg-attr-sidebar">
  <div class="crg-attr-sidebar-header">
    <mat-icon class="crg-close-icon" (click)="closeMe()">close</mat-icon>
    <span class="layerTitle">{{layer.title}}</span>

    <mat-icon class="crg-close-icon">filter_list</mat-icon>
  </div>

  <div class="crg-attr-content">
<!--    <div *ngIf="!loading" style="width: 100%; text-align: -webkit-center">-->
<!--      <mat-spinner></mat-spinner>-->
<!--    </div>-->

    <ngx-datatable class="bootstrap" style="height: 100%;"
                   [rows]="features"
                   [columns]="columns"
                   [columnMode]="'force'"
                   [rowHeight]="25"
                   [footerHeight]="40"
                   [selected]="selectedFeatures"
                   [selectionType]="'multi'"

                   [loadingIndicator]="loading"

                   [externalPaging]="true"
                   [externalSorting]="true"
                   [count]="totalFeatures"
                   [offset]="pageInfo.offset"
                   [limit]="pageInfo.pageSize"

                   (page)='setPage($event)'
                   (sort)="onSort($event)"
                   (select)='onSelect($event)'

                   [scrollbarH]="true">
    </ngx-datatable>

    <ng-template #headerFilterTemplate let-column="column">
      <span class="float-left">{{column.name}}</span>
      <mat-icon class="crg-close-icon">filter_list</mat-icon>
    </ng-template>
  </div>

</div>
