<div class="crg-attr-sidebar">
  <div class="crg-attr-sidebar-header">
    <mat-icon class="crg-close-icon" (click)="closeMe()">close</mat-icon>
    <span class="layerTitle">{{layer.title}}</span>

    <mat-icon class="crg-close-icon" (click)="switchFilter()">filter_list</mat-icon>
  </div>

  <div class="crg-attr-content">
    <div *ngIf="loading" class="fiz-loading-shade">
      <mat-spinner></mat-spinner>
    </div>

    <!--    <div *ngIf="isFilterActive" style="width: 100%; height: 20px; background-color: #008ace"></div>-->

    <ngx-datatable class="bootstrap"
                   [rows]="features"
                   [columns]="columns"
                   [columnMode]="'force'"
                   [rowHeight]="25"
                   [footerHeight]="40"
                   [selected]="selectedFeatures"
                   [selectionType]="'multi'"

                   [externalPaging]="true"
                   [externalSorting]="true"
                   [count]="totalFeatures"
                   [offset]="pageInfo.offset"
                   [limit]="pageInfo.pageSize"

                   (page)='setPage($event)'
                   (sort)="onSort($event)"
                   (select)='onSelect($event)'

                   [virtualization]="false"
                   [scrollbarV]="true"
                   [scrollbarH]="true">
    </ngx-datatable>

    <ng-template #headerFilterTemplate let-column="column">
      <span class="float-left">{{column.name}}</span>
      <mat-icon class="crg-close-icon">filter_list</mat-icon>
    </ng-template>
  </div>

</div>
