.crg-attr-sidebar {
  z-index: 100;
  position: fixed;
  top: calc(100% - 400px);

  height: 400px;
  width: 100%;

  background-color: white;

  -webkit-box-shadow: 0 -2px 10px 0 rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0 -2px 10px 0 rgba(50, 50, 50, 0.25);
  box-shadow:         0 -2px 10px 0 rgba(50, 50, 50, 0.25);
}

.crg-close-icon {
  cursor: pointer;
  color: grey;
  float: right;
}

.crg-attr-sidebar-header {
  padding: 2px;
}

.layerTitle {
  font-weight: 500;
  color: grey;
  font-style: italic;
}

.attr-search {
  float: right;
  margin: 0 2px 2px 0;
  height: 25px;
  width: 333px;
}

::ng-deep body .ui-table .ui-table-thead > tr > th {
  padding: 0 0 0 2px;
}

::ng-deep body .ui-table .ui-table-tbody > tr > td {
  padding: 0 0 0 2px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

::ng-deep .ui-table-scrollable-body {
  min-height: 315px;
}

::ng-deep body .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: #d6effc;
  color: black;
}

::ng-deep body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
  background-color: #d6effc;
  color: black;
}
