<div class="crg-attr-sidebar">
  <div class="crg-attr-sidebar-header">
    <mat-icon class="crg-close-icon" (click)="closeMe()">close</mat-icon>
    <span class="layerTitle">{{layer.title}}</span>

    <mat-icon class="crg-filter-icon" (click)="switchFilter()">filter_list</mat-icon>
  </div>

  <div class="crg-attr-content">
    <div *ngIf="loading" class="fiz-loading-shade">
      <mat-spinner></mat-spinner>
    </div>

    <!--    <div *ngIf="isFilterActive" style="width: 100%; height: 20px; background-color: #008ace"></div>-->

    <ngx-datatable [ngClass]="{'bootstrap': enableFilter, 'fiz-bootstrap': !enableFilter}"
                   [rows]="features"
                   [columns]="columns"
                   [columnMode]="'force'"
                   [rowHeight]="25"
                   [footerHeight]="40"
                   [selectionType]="'multi'"

                   [externalPaging]="true"
                   [externalSorting]="true"
                   [count]="totalFeatures"
                   [offset]="pageInfo.offset"
                   [limit]="pageInfo.pageSize"

                   [rowIdentity]="customRowIdentity"

                   (page)='setPage($event)'
                   (sort)="onSort($event)"
                   (select)='onSelect($event)'

                   [virtualization]="false"
                   [scrollbarV]="true"
                   [scrollbarH]="true">
    </ngx-datatable>

    <ng-template #filterTemplate let-column="column" let-sort="sortFn" let-sortDir="sortDir"
                 ngx-datatable-header-template>
      <div class="mobile-hidden" (click)="sort($event, sortDir, sortFn)">
        {{column.name}}
        <span class="sort-btn"></span>
      </div>

      <crg-table-filter *ngIf="enableFilter" [propertyName]="column.name"></crg-table-filter>
    </ng-template>
  </div>

</div>
