@import url(../../pages/_app/app.component.css);

.crg-attr-sidebar {
  z-index: 100;
  position: fixed;
  top: calc(100% - 446px);

  height: 446px;
  width: 100%;

  background-color: white;

  -webkit-box-shadow: 0 -2px 10px 0 rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0 -2px 10px 0 rgba(50, 50, 50, 0.25);
  box-shadow: 0 -2px 10px 0 rgba(50, 50, 50, 0.25);
}

.crg-attr-content {
  height: 100%;

  border-top: inset;
  border-width: thin;
}

.crg-filter-icon {
  cursor: pointer;
  color: grey;
  float: right;

  margin-right: 20px;
}

.crg-filter-icon-active {
  cursor: pointer;
  color: #007bff;
  float: right;

  margin-right: 20px;
}

.crg-close-icon {
  cursor: pointer;
  color: grey;
  float: right;
}

.crg-attr-sidebar-header {
  padding: 2px;
}

.layerTitle {
  font-weight: 500;
  color: grey;
  font-style: italic;
}

.attr-search {
  float: right;
  margin: 0 2px 2px 0;
  height: 25px;
  width: 333px;
}

.filter-container {
  height: 50px;
  max-height: 50px;
  overflow: hidden;
}

.right-side {
  float: right;
}

.view-mode-selector {
  width: 150px;
  float: right;
  margin-right: 5px;
  border: outset;
  border-width: thin;
}

.w-95 {
  width: 95%;
}
