.LayersSidebar {
  position: relative;
  z-index: 100;

  width: 0;
  height: 100%;

  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 16px;

    content: '';

    background: white;
  }

  &_open {
    width: 400px;
  }

  &-Inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;

    width: 400px;
  }

  &-Open {
    position: absolute;
    z-index: -1;
    top: calc(50% - 21px);
    right: -29px;

    width: 32px;
    height: 42px;

    cursor: pointer;
    text-align: center;

    color: var(--primary);
    border: none;
    border-radius: 3px;
    background: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);

    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 42px;

    -webkit-appearance: none;
            appearance: none;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      text-align: center;

      opacity: 0;
    }

    &::before {
      content: 'chevron_left';
    }

    &::after {
      content: 'layers';

      opacity: 1;
    }

    &_open {
      top: calc(50% - 18px);
      right: -20px;

      width: 23px;
      height: 36px;

      line-height: 36px;

      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 0;
      }
    }
  }

  &-MapControls {
    display: flex;
    align-items: center;

    padding: 20px 5px 0;
  }

  &-BaseMapsSelect {
    display: block;

    width: calc(100% - 40px);
    margin-right: 3px;
  }

  &-Content {
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;

    padding: 20px 0;
  }
}
