body .ServicesCalculator {
  &-Additions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
    padding-top: 10px;

    border-top: 1px solid var(--gray-light);

    .ServicesCalculator-ServiceDetails {
      min-width: 300px;
    }
  }
}
