body .TextControl {
  fieldset {
    border: none;
  }

  &_labelInField {
    width: 100%;
  }

  &.TextControl_fullWidthForOldForm {
    min-height: 38px;
    padding: 10px 0;

    border: 1px solid #ced4da;
    border-radius: 4px;

    font-size: 14px;
    line-height: 1.2;

    input,
    .MuiInputBase-root {
      padding: 0;
    }
  }
}
