body .DocumentsDialog {
  &-Button {
    position: absolute;
    top: 18px;
    right: 10px;
  }

  &-TypeIcon {
    position: relative;
    top: -3px;

    display: inline;

    margin-right: 8px;
  }

  &-Title {
    padding-right: 38px;
  }
}
