.DataImport {
  &-Notice {
    margin-bottom: 20px;

    color: var(--gray);

    font-size: 11px;
    line-height: 1;
  }

  &-NoticeList {
    margin: 0;
    padding: 0;
  }

  &-NoticeListItem {
    display: block;

    margin: 0;
    padding: 0 0 0 5px;

    list-style: none;

    &::before {
      display: inline-block;

      margin-right: 4px;

      content: "—";
      vertical-align: top;
    }
  }
}
