@import "./assets/fonts/Roboto/Roboto.css";

@import "./assets/fonts/MaterialIcons/MaterialIcons.css";

@import "~@swimlane/ngx-datatable/index.css";

@import "bootstrap.css";

@import "bootstrap2.css";

@import "~@swimlane/ngx-datatable/assets/icons.css";

html,
body {
  height: 100%;
}

body {
  overflow: hidden;

  margin: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-button:focus {
  outline: none;
}

.mat-menu-item:focus {
  outline: none;
}

.scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: var(--gray);
}

.cut-text {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.fiz-toolbar {
  position: relative;
  top: 12px;
}

.cur-p {
  cursor: pointer;
}

.fiz-border {
  border: outset;
  border-width: thin;
  border-radius: 5px;
}

.without-outline {
  outline: none;
}

.mat-icon-button:focus {
  outline: none;
}

.page-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  height: 100%;
}

.page {
  overflow: auto;
}

button:focus {
  outline: none;
}

body.global-crosshair-cursor * {
  cursor: crosshair;
}

:root {
  --white: #fff;
  --blue: #1976d2;
  --error: #f44336;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: var(--blue);
  --light-blue: rgb(25 118 210 / 8%);
  --disabled: rgb(0 0 0 / 26%);
  --light: #f8f9fa;
}
