<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>GisPlatformFeed</id>
            <username>DefaultCollection</username>
            <password>ooqinp6mi2qca7oep7mclzmjthcr7nv34lind4ftnqdehinofx5a</password>
        </server>
    </servers>
</settings>
