<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Консольный аппендер для вывода логов -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Файловый аппендер для сохранения логов -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/gatling/gatling.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования для Gatling HTTP клиента -->
    <logger name="io.gatling.http" level="DEBUG"/>

    <!-- Уровень логирования для Gatling Core -->
    <logger name="io.gatling.core" level="INFO"/>

    <!-- Уровень логирования для нашего пакета -->
    <logger name="ru.mycrg.performance" level="DEBUG"/>

    <!-- Корневой уровень логирования -->
    <root level="INFO">
<!--        <appender-ref ref="CONSOLE"/>-->
<!--        <appender-ref ref="FILE"/>-->
    </root>
</configuration>
