.ProjectsList {
  display: grid;
  overflow: auto;
  justify-content: center;

  max-height: calc(100% - 60px);
  margin: -36px 0 0;
  padding: 30px 45px 20px;

  grid-template-columns: repeat(var(--ProjectsListColumns), minmax(310px, 410px));
  --ProjectsListColumns: 3;

  @media(max-width: 970px) {
    --ProjectsListColumns: 2;
  }

  @media(max-width: 670px) {
    --ProjectsListColumns: 1;
  }

  &-Card {
    min-width: 300px;
    max-width: 400px;
    margin: 0 5px 10px;
  }
}
