body .Form-View_type_string {
  &.Form-View_fullWidthForOldForm {
    & .MuiInputBase-root {
      min-height: 38px;
      padding: 10px;

      border: 1px solid #ced4da;
      border-radius: 4px;

      font-size: 14px;
      line-height: 1.2;

      .Form-ViewValue {
        word-break: break-word;
      }
    }
  }
}
