<div *ngIf="data">
  <mat-form-field style="width: 100%">
    <input matInput type="text" placeholder="Фильтр" [(ngModel)]="filterTerm">
    <button mat-button *ngIf="filterTerm" matSuffix mat-icon-button aria-label="Clear" (click)="filterTerm=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-selection-list class="scroll" #fizLayers (selectionChange)="onChange(fizLayers)"
                      dense style="height: 330px">
    <mat-list-option class="text-right" (click)="selectAll()">{{selectText}}</mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option *ngFor="let layer of data.layers | filterLayers:filterTerm" [value]="layer">
      <span class="cut-text">
        {{handleTitle(layer)}}
      </span>
    </mat-list-option>
  </mat-selection-list>

  <button mat-raised-button color="primary" class="float-right mat-primary" style="margin-top: 10px"
          [disabled]="fizLayers.selectedOptions.selected.length < 1"
          (click)="initValidation()">Проверить</button>
</div>

<div *ngIf="!data || !data.layers">
  Нет данных
</div>
