<div *ngIf="!!property">

  <div *ngIf="property?.valueType?.includes('CHOICE')">
    <mat-select class="content" multiple (selectionChange)="onSelection($event)">
      <mat-option *ngFor="let enumOption of property.enumerations"
              [value]="enumOption.value">
        <span class="cut-text">{{enumOption.title}}</span>
      </mat-option>
    </mat-select>
  </div>

  <div *ngIf="isInputProperties(property?.valueType)">
    <input #filterInput class="content" type="text">
  </div>
</div>
