<securityInterceptor>
  <id>60b7c14f:16c676ab60a:-7fec</id>
  <name>interceptor</name>
  <className>org.geoserver.security.filter.GeoServerSecurityInterceptorFilter</className>
  <allowIfAllAbstainDecisions>false</allowIfAllAbstainDecisions>
  <securityMetadataSource>geoserverMetadataSource</securityMetadataSource>
</securityInterceptor>