.PrintDialog-Date {
  position: absolute;
  z-index: 3;
  bottom: calc(var(--PrintDialogPreviewResize) * 2.6);
  left: calc(50% - calc(var(--PrintDialogPreviewResize) * 12.7));

  width: calc(var(--PrintDialogPreviewResize) * 25.4);
  height: calc(var(--PrintDialogPreviewResize) * 3.6);

  user-select: none;
  text-align: center;

  text-shadow: 0.5px 0.5px 1px #fff,
  -0.5px 0.5px 1px #fff,
  0.5px -0.5px 1px #fff,
  -0.5px -0.5px 1px #fff,
  1px 0 1px #fff,
  0 1px 1px #fff,
  -1px 0 1px #fff,
  0 -1px 1px #fff;

  font-size: calc(var(--PrintDialogPreviewResize) * 2.9);

  --PrintDialogPreviewResize: calc(var(--PrintDialogPreviewControlsFactor) * var(--PrintDialogPreviewSizeFactor));

  &_forPrint {
    position: relative;
    bottom: 0;
    left: 0;

    width: calc(var(--PrintDialogDateResolutionFactor) * 150px);
    height: calc(var(--PrintDialogDateResolutionFactor) * 22px);

    text-shadow: 1px 1px 2px #fff,
    -1px 1px 2px #fff,
    1px -1px 2px #fff,
    -1px -1px 2px #fff,
    2px 0 2px #fff,
    0 2px 2px #fff,
    -2px 0 2px #fff,
    0 -2px 2px #fff;

    font-size: calc(var(--PrintDialogDateResolutionFactor) * 16px);

    --PrintDialogDateResolutionFactor: calc(var(--PrintDialogDateResolution) / 150);
  }
}
