@import url(../../pages/_app/app.component.css);

.edit-content {
  overflow: auto;
  height: calc(100vh - 50px)!important;
}

.example-full-width {
  width: 100%;
}

.fiz-edit-item {
  padding-top: 3px;
  padding-bottom: 3px;
}
