<div class="container-fluid">
  <div *ngIf="!isFeatureTypeLoaded" class="fiz-loading-shade">
      <mat-spinner></mat-spinner>
  </div>

  <div class="row" style="padding-top: 5px; padding-bottom: 5px; background-color: gainsboro">
    <div class="col-12" style="padding-left: 5px; padding-right: 5px">
      <button mat-stroked-button (click)="close()" class="float-left">Отмена</button>
      <button mat-stroked-button color="primary" (click)="editFeature()" class="float-right">Сохранить</button>
    </div>
  </div>

  <div class="row edit-content scroll" *ngIf="isFeatureTypeLoaded">
    <form class="example-form col-md-12">
      <div *ngFor="let featureProperty of featureType.properties">

        <div *ngIf="featureProperty.valueType.includes('STRING')" class="fiz-edit-item">
          <div class="row" style="margin-right: 0px; align-items: center;">
            <div class="col-6" style="font-family: monospace; font-weight: bold; line-height: 1.1">
              {{featureProperty.title}}
            </div>
            <input class="col-6 form-control" type="text" pInputText>
          </div>
        </div>

        <div *ngIf="featureProperty.valueType.includes('CHOICE')" class="fiz-edit-item">
          <select class="custom-select">
            <option selected>{{featureProperty.title}}</option>
            <option *ngFor="let enumOption of featureProperty.enumerations"
                        [value]="enumOption.value">
              {{enumOption.title}}
            </option>
          </select>
        </div>

        <div *ngIf="featureProperty.valueType.includes('INT')" class="fiz-edit-item">
          <div class="row" style="margin-right: 0px; align-items: center;">
            <div class="col-9" style="font-family: monospace; font-weight: bold">
              {{featureProperty.title}}
            </div>
            <input class="col-3 form-control" type="number" pInputText>
          </div>
        </div>

        <div *ngIf="featureProperty.valueType.includes('DOUBLE')" class="fiz-edit-item">
          <div class="row" style="margin-right: 0px; align-items: center;">
            <div class="col-9" style="font-family: monospace; font-weight: bold">
              {{featureProperty.title}}
            </div>
            <input class="col-3 form-control" type="number" pInputText>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
