body .FeaturesListSidebar {
  position: relative;
  z-index: 100;

  width: 550px;
  height: 100%;

  background-color: white;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 16%);

  &-Tabs {
    z-index: 1;
  }
}
