<div>
  <a mat-button (click)="closeSidebar()">x</a>
</div>

<div>
  <mat-accordion class="validation_accordion">
    <mat-expansion-panel *ngFor="let layer of layers; let index = index"
                         [expanded]="step === (index+1)" (opened)="setStep(index+1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>{{prepareLayerName(layer.name)}}</mat-panel-title>

        <div class="float-right" *ngIf="isLayerCommonInfoExist(layer.name, 'totalViolations')">
          <mat-chip-list *ngIf="getInfo(layer.name, 'totalViolations') > 0">
            <mat-chip>{{getInfo(layer.name, 'totalViolations')}}</mat-chip>
          </mat-chip-list>
          <mat-icon *ngIf="getInfo(layer.name, 'totalViolations') === 0">done</mat-icon>
        </div>

        <!--<mat-panel-description>-->
          <!--&lt;!&ndash;<button mat-button (click)="initValidation($event, index)" class="validation_button">&ndash;&gt;-->
            <!--&lt;!&ndash;<mat-icon *ngIf="!isValidationInited[index]" aria-label="label">map</mat-icon>&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="../../../assets/images/loader.gif" alt="logo" *ngIf="isValidationInited[index]"&ndash;&gt;-->
                 <!--&lt;!&ndash;style="margin-left: 3px; margin-right: 3px" height="25" width="25">&ndash;&gt;-->
          <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--</mat-panel-description>-->
      </mat-expansion-panel-header>

      <div>
        <crg-test-github [connectionInfo]="connectionInfo[index]"
                         [step]="step" [index]="index + 1" [isActive]="isActive"
                         (getConnectionInfo)="handleChildEvent($event)"></crg-test-github>
      </div>

      <mat-action-row style="padding: 0">
        <button mat-button *ngIf="index > 0" color="warn" (click)="prevStep()">Предыдущий</button>
        <button mat-button *ngIf="index < (layers.length - 1) " color="primary" (click)="nextStep()">Следующий</button>
        <button mat-button *ngIf="index == (layers.length - 1) " color="primary" (click)="nextStep()">Закончить</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
