.XTable-CellContent {
  position: relative;

  display: block;
  overflow: hidden;

  width: calc(calc(var(--XTableCellWidth) - 28) * 1px);

  &_singleLineContent {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
