<div class="example-container">

  <mat-toolbar color="primary">
    <mat-toolbar-row style="height: 60px">
      <img src="../../../../assets/images/logo.svg" alt="logo" height="50" width="115">

      <div style="padding-left: 30px">
        <mat-tab-group color="accent">
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="mat-tab-label-content">Карта</span>
            </ng-template>

            <button mat-icon-button routerLink="/workspace/map"><mat-icon aria-label="label">save</mat-icon></button>
            <button mat-icon-button><mat-icon aria-label="label">delete</mat-icon></button>
            <!--<button mat-icon-button (click)="tryPositionToObject()">-->
              <!--<mat-icon aria-label="label">map</mat-icon>-->
            <!--</button>-->
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="mat-tab-label-content">Данные</span>
            </ng-template>

            <button mat-icon-button routerLink="/workspace/data_import">
              <mat-icon aria-label="label">cloud_download</mat-icon>
            </button>
            <button mat-icon-button (click)="openBugReportSidebar()">
              <mat-icon aria-label="label">bug_report</mat-icon>
            </button>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="mat-tab-label-content">ФГИС ТП</span>
            </ng-template>

            <button mat-icon-button (click)="openExportDialog()">
              <mat-icon aria-label="label">arrow_downward</mat-icon>
            </button>
          </mat-tab>
        </mat-tab-group>
      </div>

      <span class="example-spacer"></span>

      <mat-icon class="crg-notification" (click)="notification()"
                *ngIf="notificationCounter == 0">notifications</mat-icon>
      <mat-icon class="crg-notification" matBadge="{{notificationCounter}}" matBadgeColor="warn"
                *ngIf="notificationCounter > 0"
                (click)="notification()">notifications</mat-icon>

      <button class="float-right" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="fiz-container">
    <router-outlet></router-outlet>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logout()">
    Выход
  </button>
</mat-menu>

<crg-info-sidebar [isActive]="isInfoSidebarActive"></crg-info-sidebar>
<crg-report-sidebar [isActive]="isBugReportSidebarActive"></crg-report-sidebar>
