.fiz-container {
  height: calc(100% - 55px);
}

/*.example-toolbar {*/
  /*height: 85px;*/
/*}*/

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-tab-label-content {
  position: relative;
  top: 8px;
  color: white;
}

.crg-notification {
  cursor: pointer;
  margin-right: 15px;
}
