<crg-page-title>
  Импорт данных
</crg-page-title>

<div class="container">
  <mat-card class="crg-card">

    <mat-card-content class="crg-card-content">
      <div class="row m-0 h-100">
        <div class="col-3 p-0 crg-card-list scroll">
          <mat-nav-list dense>
            <mat-list-item *ngFor="let importLayer of importLayers"
                           [ngClass]="importLayer.isActive ? 'selected-element' : 'crg-list-item'"
                           (click)="selectLayer(importLayer)">
              <a matLine>{{importLayer.title}}.shp</a>
              <mat-icon *ngIf="importLayer.isMapped" style="color: green">done</mat-icon>
              <mat-icon *ngIf="!importLayer.isMapped">warning</mat-icon>
              <div class="selected-element-marker" *ngIf="importLayer.isActive"></div>
            </mat-list-item>
          </mat-nav-list>
        </div>
        <div class="">
          <div class="content-separator"></div>
        </div>
        <div class="col-9 crg-card-list">
          <crg-mapping-card [importLayer]="selectedLayer"></crg-mapping-card>
        </div>
      </div>
    </mat-card-content>

    <mat-card-footer class="crg-card-footer">
      <button mat-stroked-button class="float-left crg-card-footer-b" routerLink="/workspace/data_import">
        Назад
      </button>
      <button mat-raised-button class="float-right crg-card-footer-b mat-primary" routerLink="/workspace/map"
              *ngIf="isImportFinished">
        &nbsp;&nbsp;&nbsp;Готово&nbsp;&nbsp;&nbsp;
      </button>
      <button mat-stroked-button class="float-right crg-card-footer-b" [disabled]="!importFlow.work_import.isWorkImportReady"
              (click)="startWorkImport()"
              *ngIf="!isImportFinished">
        <span *ngIf="!isWorkImportInited">Импортировать</span>

        <img src="../../../../assets/images/loader.gif" alt="logo"
             *ngIf="isWorkImportInited"
             style="margin-left: 39px; margin-right: 39px" height="27" width="27">
      </button>
    </mat-card-footer>
  </mat-card>
</div>
