<mat-toolbar color="primary" class="workspace-page_toolbar">
  <h6>Импорт данных</h6>
</mat-toolbar>

<div class="container">
  <mat-card class="crg-card">
    <mat-card-header class="crg-header">
      <div class="row col-12">
        <div class="col-6 align-self-center">
          <h5>Выберите рабочую область</h5>
        </div>
        <mat-form-field class="col-6">
          <mat-select placeholder="Рабочая область">
            <mat-option *ngFor="let item of workspaces" [value]="item" (click)="workspaceSelected(item)">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-header>

    <mat-card-content class="crg-card-content">
      <div class="row m-0 h-100">
        <div class="col-3 p-0 crg-card-list">
          <mat-nav-list dense>
            <mat-list-item *ngFor="let layer of layers"
                           [ngClass]="layer.isActive ? 'selected-element' : 'crg-list-item'"
                           (click)="selectLayer(layer)">
              <a matLine>{{layer.title}}.shp</a>
              <mat-icon *ngIf="layer.isMapped">done</mat-icon>
              <mat-icon *ngIf="!layer.isMapped">warning</mat-icon>
              <div class="selected-element-marker" *ngIf="layer.isActive"></div>
            </mat-list-item>
          </mat-nav-list>
        </div>
        <div class="">
          <div class="content-separator"></div>
        </div>
        <div class="col-9 crg-card-list">
          <crg-mapping-card [layer]="selectedLayer"></crg-mapping-card>
        </div>
      </div>
    </mat-card-content>

    <mat-card-footer class="crg-card-footer">
      <button mat-stroked-button class="float-left crg-card-footer-b" routerLink="/workspace/data_import">
        Назад
      </button>
      <button mat-stroked-button class="float-right crg-card-footer-b" routerLink="/workspace/map"
              *ngIf="isImportFinished">
        &nbsp;&nbsp;&nbsp;Готово&nbsp;&nbsp;&nbsp;
      </button>
      <button mat-stroked-button class="float-right crg-card-footer-b" [disabled]="!importFlow.work_import.isWorkImportReady"
              (click)="startWorkImport()"
              *ngIf="!isImportFinished">
        <span *ngIf="!isWorkImportInited">Импортировать</span>

        <img src="../../../../assets/images/loader.gif" alt="logo"
             *ngIf="isWorkImportInited"
             style="margin-left: 39px; margin-right: 39px" height="27" width="27">
      </button>
    </mat-card-footer>
  </mat-card>
</div>
