<mat-toolbar color="primary" class="workspace-page_toolbar">
  <h6>Валидация</h6>
</mat-toolbar>

<div class="container">
      <mat-accordion class="validation_accordion">
        <mat-expansion-panel *ngFor="let layer of layers; let index = index"
                             [expanded]="step === (index+1)" (opened)="setStep(index+1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{layer.name}}
            </mat-panel-title>

            <mat-panel-description>
              <button mat-button (click)="initValidation($event, index)" class="validation_button">
                <mat-icon *ngIf="!isValidationInited[index]" aria-label="label">map</mat-icon>
                <img src="../../../../assets/images/loader.gif" alt="logo" *ngIf="isValidationInited[index]"
                     style="margin-left: 3px; margin-right: 3px" height="25" width="25">
              </button>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <crg-test-github [connectionInfo]="connectionInfo[index]"
                           [step]="step" [index]="index + 1"
                           (getConnectionInfo)="handleChildEvent($event)"></crg-test-github>

          <mat-action-row>
            <button mat-button *ngIf="index > 0" color="warn" (click)="prevStep()">Предыдущий</button>
            <button mat-button *ngIf="index < (layers.length - 1) " color="primary" (click)="nextStep()">Следующий</button>
            <button mat-button *ngIf="index == (layers.length - 1) " color="primary" (click)="nextStep()">Закончить</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
</div>
