<mat-toolbar color="primary" class="workspace-page_toolbar">
  <h6>Валидация</h6>
</mat-toolbar>

<div class="container">
  <mat-card>
    <div class="row">

      <mat-accordion class="validation_accordion">
        <mat-expansion-panel *ngFor="let layer of layers; let index = index"
                             [expanded]="step === (index+1)" (opened)="setStep(index+1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{layer.name}}
            </mat-panel-title>
            <mat-panel-description>
              <button mat-button (click)="validButton(index)" class="validation_button"><mat-icon>map</mat-icon></button>
            </mat-panel-description>
          </mat-expansion-panel-header>

          {{layer.href}}

          <mat-action-row>
            <button mat-button *ngIf="index > 0" color="warn" (click)="prevStep()">Предыдущий</button>
            <button mat-button *ngIf="index < (layers.length - 1) " color="primary" (click)="nextStep()">Следующий</button>
            <button mat-button *ngIf="index == (layers.length - 1) " color="primary" (click)="nextStep()">Закончить</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </mat-card>
</div>
