body .SelectProjection {
  width: 100%;

  &-Control {
    &_formView {
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
    }
  }

  &-Select {
    overflow: hidden;

    &_formView {
      margin-top: 0;
    }
  }

  &-Label {
    min-width: 22%;
    margin-right: 10px;
    margin-left: 16px;

    cursor: default;

    color: var(--gray-dark);

    font-size: 12px;
    font-weight: bold;

    &.Mui-focused {
      color: var(--gray-dark);
    }
  }
}
