body .Link {
  color: var(--blue);

  &-Icon {
    font-size: 0.875em;
  }

  &_theme_none {
    text-decoration: none;

    color: inherit;

    &:hover {
      text-decoration: none;

      color: inherit;
    }
  }
}
