body .Link {
  color: var(--blue);

  &-Icon-Container {
    position: relative;

    display: inline-block;

    width: 5px;
    height: 0.6em;
    margin-right: 7px;

    vertical-align: middle;
  }

  &-Icon {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 0.65em;
  }

  &_theme_contents {
    display: contents;
  }

  &_theme_contents,
  &_theme_none {
    text-decoration: none;

    color: inherit;

    &:hover {
      text-decoration: none;

      color: inherit;
    }
  }
}
