.page-title {
  position: relative;
  z-index: 1;

  width: 50%;
  margin: 24px 0 35px;
  padding: 0 16px;

  color: #fff;

  font:
    500 20px/32px Roboto,
    'Helvetica Neue',
    sans-serif;

  &_simple {
    width: auto;
    margin-bottom: 20px;
    padding: 0;

    color: inherit;
  }
}
