<div *ngIf="data?.length === 0 && !isLoadingResults">
  <div *ngIf="status === 'DONE'">
    <h6 class="float-left" style="font-size: inherit">Ошибок нет</h6>
    <h6 class="float-right" style="font-size: inherit">Время последней проверки: 2019.02.05</h6>
  </div>
  <div *ngIf="status === 'ERROR'">
    <h6 class="float-left" style="font-size: inherit">Ошибка валидации</h6>
  </div>
</div>

<div class="validation-results-container mat-elevation-z8" [hidden]="data?.length === 0 && !isLoadingResults">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div [hidden]="data?.length === 0">
    <mat-paginator [length]="totalElements" hidden="true"
                   [pageSize]="25" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>

    <div class="validation-results-table-container">

      <table mat-table [dataSource]="data" class="example-table" multiTemplateDataRows
             matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

        <ng-container matColumnDef="objectid">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{element.objectId}}</td>
        </ng-container>

        <ng-container matColumnDef="classid">
          <th mat-header-cell *matHeaderCellDef style="padding-left: 10px">Название</th>
          <td mat-cell *matCellDef="let element" style="padding-left: 10px">Описание обьекта по classid</td>
        </ng-container>

        <ng-container matColumnDef="violationsCounter">
          <th mat-header-cell *matHeaderCellDef style="padding-left: 10px">Кол-во ошибок</th>
          <td mat-cell *matCellDef="let element" style="padding-left: 10px">element.</td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <crg-violation-item-view [data]="element.violations"></crg-violation-item-view>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height: 20px"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>

        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <br>
    </div>
  </div>
</div>
