<div class="container">

  <crg-header></crg-header>

  <form [formGroup]="loginForm"
        novalidate
        (ngSubmit)="onSubmit()">
    <mat-card class="login-card">

      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="E-mail" formControlName="username">
              <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                Обязательное для заполнения поле
              </mat-error>
              <mat-error *ngIf="loginForm.controls['username'].hasError('email')">
                Пожалуйста введите логин в формате e-mail@mail.ru
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input type="password" matInput placeholder="Пароль" formControlName="password">
              <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                Обязательное для заполнения поле
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row justify-content-center text-danger">
          <div *ngIf="isWrongPassword">Неверное имя пользователя или пароль</div>
          <div *ngIf="isUserDisabled">Запрос на создание принят и обрабатывается. Попробуйте позже.</div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Войти</button>
        <a class="recovery-link float-right" routerLink="/recovery">Забыли пароль?</a>
      </mat-card-actions>
    </mat-card>
  </form>

</div>
