@import url(../../pages/_app/app.component.css);

.edit-content {
  overflow: auto;
  height: calc(100vh - 105px);
}

.fiz-edit-item {
  align-items: center;
  padding: 4px 6px 4px 6px;
}

.edit-item-title {
  font-family: monospace;
  /*font-weight: bold;*/
  line-height: 1.1
}

.error-badge {
  padding: 0 2px 0 2px;
  background-color: tomato;
}

.object-errors {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 5px;

  color: white;
  font-family: monospace;
  font-size: medium;
  font-weight: bold;
  background: tomato;
}
