<div class="container-fluid">
  @if (!isFeatureTypeLoaded) {
    <crg-loading-ng></crg-loading-ng>
  }

  <div
    class="row"
    style="
      padding-top: 5px;
      padding-bottom: 5px;

      background-color: gainsboro;
    "
    >
    <div class="col-12" style="padding-right: 5px; padding-left: 5px">
      <button
        mat-stroked-button
        color="primary"
        (click)="editFeature()"
        class="float-left"
        >
        Сохранить
      </button>
      <button mat-stroked-button (click)="close()" class="float-right">
        Отмена
      </button>
    </div>
  </div>

  @if (isFeatureTypeLoaded) {
    <div class="row edit-content scroll">
      @if (editFeatureData.length > 0) {
        <form
          class="example-form col-md-12"
          [formGroup]="editFeatureForm"
          >
          @for (editFeatureItem of editFeatureData; track editFeatureItem) {
            <div>
              @if (editFeatureItem.property?.valueType?.includes('STRING')) {
                <div
                  class="row fiz-edit-item"
                  >
                  <div class="col-6 px-0 edit-item-title">
                    @if (!editFeatureItem.isFgistpProperty) {
                      <span
                        style="color: grey"
                        matTooltip="Данное свойство не соответствует приказу"
                        >{{ editFeatureItem.property?.title }}</span
                        >
                      }
                      @if (editFeatureItem.isFgistpProperty) {
                        <span>{{
                          editFeatureItem.property?.title
                        }}</span>
                      }
                    </div>
                    <div class="col-6 px-0">
                      <div class="input-group">
                        <input
                          class="form-control"
                          type="text"
                          formControlName="{{ editFeatureItem.name }}"
                          />
                        @if (!editFeatureForm.controls[editFeatureItem.name]?.valid) {
                          <div
                            class="input-group-append"
                            >
                            @if (editFeatureForm.controls[editFeatureItem.name]?.errors) {
                              <span
                                class="input-group-text error-badge"
                                >
                                <crg-errors-badge
                    [errors]="
                      editFeatureForm.controls[editFeatureItem.name]?.errors
                    "
                                ></crg-errors-badge>
                              </span>
                            }
                          </div>
                        }
                      </div>
                    </div>
                  </div>
                }
                @if (editFeatureItem.property?.valueType?.includes('INT')) {
                  <div
                    class="row fiz-edit-item"
                    >
                    <div class="col-6 px-0 edit-item-title">
                      {{ editFeatureItem.property?.title }}
                    </div>
                    <div class="col-6 px-0">
                      <div class="input-group">
                        <input
                          class="form-control"
                          type="number"
                          formControlName="{{ editFeatureItem.name }}"
                          />
                        @if (!editFeatureForm.controls[editFeatureItem.name]?.valid) {
                          <div
                            class="input-group-append"
                            >
                            <span class="input-group-text error-badge">
                              <crg-errors-badge
                    [errors]="
                      editFeatureForm.controls[editFeatureItem.name]?.errors
                    "
                              ></crg-errors-badge>
                            </span>
                          </div>
                        }
                      </div>
                    </div>
                  </div>
                }
                @if (editFeatureItem.property?.valueType?.includes('DOUBLE')) {
                  <div
                    class="row fiz-edit-item"
                    >
                    <div class="col-6 px-0 edit-item-title">
                      {{ editFeatureItem.property?.title }}
                    </div>
                    <div class="col-6 px-0">
                      <div class="input-group">
                        <input
                          class="form-control"
                          type="number"
                          formControlName="{{ editFeatureItem.name }}"
                          />
                        @if (!editFeatureForm.controls[editFeatureItem.name]?.valid) {
                          <div
                            class="input-group-append"
                            >
                            <span class="input-group-text error-badge">
                              <crg-errors-badge
                    [errors]="
                      editFeatureForm.controls[editFeatureItem.name]?.errors
                    "
                              ></crg-errors-badge>
                            </span>
                          </div>
                        }
                      </div>
                    </div>
                  </div>
                }
                @if (editFeatureItem.property?.valueType?.includes('DATETIME')) {
                  <div
                    class="row fiz-edit-item"
                    >
                    <div class="col-6 px-0 edit-item-title">
                      {{ editFeatureItem.property?.title }}
                    </div>
                    <div class="col-6 px-0">
                      <div class="input-group">
                        <input
                          class="form-control"
                          type="date"
                          formControlName="{{ editFeatureItem.name }}"
                          />
                        @if (!editFeatureForm.controls[editFeatureItem.name]?.valid) {
                          <div
                            class="input-group-append"
                            >
                            @if (editFeatureForm.controls[editFeatureItem.name]?.errors) {
                              <span
                                class="input-group-text error-badge"
                                >
                                <crg-errors-badge
                    [errors]="
                      editFeatureForm.controls[editFeatureItem.name]?.errors
                    "
                                ></crg-errors-badge>
                              </span>
                            }
                          </div>
                        }
                      </div>
                    </div>
                  </div>
                }
                @if (editFeatureItem.property?.valueType?.includes('CHOICE')) {
                  <div
                    class="row fiz-edit-item"
                    >
                    <div class="col-6 px-0 edit-item-title">
                      {{ editFeatureItem.property?.title }}
                    </div>
                    <div class="col-6 px-0">
                      <div class="input-group">
                        <select
                          class="custom-select"
                          formControlName="{{ editFeatureItem.name }}"
                          >
                          <option [value]=""></option>
                          @for (
                            enumOption of editFeatureItem.property.enumerations
                            ; track
                            enumOption) {
                            <option
                              [value]="enumOption.value"
                              >
                              {{ enumOption.title }}
                            </option>
                          }
                        </select>
                        @if (!editFeatureForm.controls[editFeatureItem.name]?.valid) {
                          <div
                            class="input-group-append"
                            >
                            <span class="input-group-text error-badge">
                              <crg-errors-badge
                    [errors]="
                      editFeatureForm.controls[editFeatureItem.name]?.errors
                    "
                              ></crg-errors-badge>
                            </span>
                          </div>
                        }
                      </div>
                    </div>
                  </div>
                }
              </div>
            }
          </form>
        }
      </div>
    }
  </div>
