.UpChooseLayer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;

  min-height: 20vh;

  &-Annotation {
    display: flex;

    text-align: center;
  }

  &-Button {
    border: 2px solid var(--gray);
  }
}
