.BboxPreview {
  &-Value {
    display: flex;
    overflow: hidden;
    align-items: center;
    gap: 8px;

    max-width: 100%;
    margin-top: 8px;
  }

  &-Coordinates {
    overflow: hidden;
    flex: 1;

    min-width: 0;
    max-width: 100%;

    white-space: nowrap;
    text-overflow: ellipsis;

    font-family: 'Courier New', Courier, monospace;
    font-size: 0.875rem;
    font-weight: 600;
  }

  &-CopyButton {
    flex-shrink: 0;
  }
}
