.Explorer {
  position: relative;

  display: grid;
  align-items: flex-start;
  gap: 20px;
  grid-template: auto auto auto auto / 3fr 2fr;
  grid-template-areas: 'head head' 'toolbar info' 'list info' 'pagination info';

  &:focus {
    outline: none;
  }
}
