.Form-Error {
  display: block;

  text-align: left;
  white-space: normal;
  letter-spacing: 0.0333em;

  color: var(--error);

  font-size: 0.75rem;
  line-height: 1.66;

  &:first-child {
    margin-top: 3px;
  }

  &_warning {
    color: var(--warning);
  }

  &_contents {
    display: contents;

    margin: 0;

    letter-spacing: inherit;

    color: inherit;

    font-size: inherit;
    line-height: inherit;

    &:first-child {
      margin-top: 0;
    }
  }
}
