.DataImportTasksList {
  width: 100%;

  &-Task {
    &:nth-child(odd) {
      background: #f0f0f0;
    }

    &_error {
      color: var(--danger);
    }
  }

  &-TaskName {
    padding: 4px 20px 4px 10px;
  }

  &-TaskStatus {
    width: 25%;
    padding: 4px 0;
  }

  &-TaskProgress {
    width: 25%;
    padding: 4px 10px 4px 20px;

    text-align: right;
  }
}
