.data-import-tasks-list {
  &__table {
    width: 100%;
  }

  &__task {
    &:nth-child(odd) {
      background: #f0f0f0;
    }

    &_error {
      color: var(--danger);
    }
  }

  &__task-name {
    padding: 4px 20px 4px 10px;
  }
}
