.workspace-page_toolbar {
  height: 55px;
  margin-bottom: 20px;
}

.scroll::-webkit-scrollbar {
  width: 4px;
}

.scroll::-webkit-scrollbar-thumb {
  background: grey;
}

.cut-text {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.workspace-page_toolbar > h6 {
  z-index: 1;
}

.fiz-toolbar {
  position: relative;
  top: 12px;
}

.cur-p {
  cursor: pointer;
}

.fiz-border {
  border: outset;
  border-width: thin;
  border-radius: 5px;
}

.without-outline {
  outline: none;
}
