.workspace-page_toolbar {
  height: 55px;
  margin-bottom: 20px;
}

.fiz-loading-shade {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll::-webkit-scrollbar {
  width: 4px;
}

.scroll::-webkit-scrollbar-thumb {
  background: grey;
}

.cut-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.workspace-page_toolbar>h6 {
  z-index: 1;
}

.fiz-toolbar {
  position: relative;
  top: 12px;
}

.cur-p {
  cursor: pointer;
}

.fiz-border {
  border-radius: 5px;
  border: outset;
  border-width: thin;
}

.without-outline {
  outline: none
}
