<div class="container-fluid">
  <div class="row" style="padding-top: 5px; padding-bottom: 5px; background-color: gainsboro">
    <div class="col-12" style="padding-left: 5px; padding-right: 5px">
      <button mat-stroked-button color="primary" (click)="editFeature()" class="float-left"
              matBadge="{{data.total}}" matBadgePosition="after" matBadgeColor="accent"
              matTooltip="{{getTooltip()}}" [disabled]="editFeatureForm.pristine">
        <mat-icon *ngIf="data.mode === 'multipleEdit'">list</mat-icon>
        Сохранить
      </button>
      <button mat-stroked-button (click)="close()" class="float-right">Отмена</button>
    </div>
  </div>

  <div [ngClass]="isAttributeSidebarOpened? 'row edit-content scroll short-h' : 'row edit-content scroll full-h'">

    <form class="example-form col-md-12" [formGroup]="editFeatureForm">
      <div *ngFor="let editFeatureItem of editFeatureData">

        <div *ngIf="editFeatureItem.property?.valueType?.includes('STRING')" class="row fiz-edit-item">
          <div class="col-6 px-0 edit-item-title">
            <span *ngIf="!editFeatureItem.isFgistpProperty" style="color: grey"
                  matTooltip="Данное свойство не соответствует приказу">{{editFeatureItem.property?.title}}</span>
            <span *ngIf="editFeatureItem.isFgistpProperty">{{editFeatureItem.property?.title}}</span>
          </div>
          <div class="col-6 px-0">
            <div class="input-group">
              <input class="form-control" type="text" formControlName="{{editFeatureItem.name}}">

              <div class="input-group-append" *ngIf="data.mode === 'multipleEdit'">
                <span class="input-group-text error-badge">
                  <mat-icon class="cur-p" (click)="switchControl(editFeatureItem.property)">edit</mat-icon>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="editFeatureItem.property?.valueType?.includes('INT')" class="row fiz-edit-item">
          <div class="col-6 px-0 edit-item-title">
            <span *ngIf="!editFeatureItem.isFgistpProperty" style="color: grey"
                  matTooltip="Данное свойство не соответствует приказу">{{editFeatureItem.property?.title}}</span>
            <span *ngIf="editFeatureItem.isFgistpProperty">{{editFeatureItem.property?.title}}</span>
          </div>
          <div class="col-6 px-0">
            <div class="input-group">
              <input class="form-control" type="text" formControlName="{{editFeatureItem.name}}">

              <div class="input-group-append" *ngIf="data.mode === 'multipleEdit'">
                <span class="input-group-text error-badge">
                  <mat-icon class="cur-p" (click)="switchControl(editFeatureItem.property)">edit</mat-icon>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="editFeatureItem.property?.valueType?.includes('DOUBLE')" class="row fiz-edit-item">
          <div class="col-6 px-0 edit-item-title">
            <span *ngIf="!editFeatureItem.isFgistpProperty" style="color: grey"
                  matTooltip="Данное свойство не соответствует приказу">{{editFeatureItem.property?.title}}</span>
            <span *ngIf="editFeatureItem.isFgistpProperty">{{editFeatureItem.property?.title}}</span>
          </div>
          <div class="col-6 px-0">
            <div class="input-group">
              <input class="form-control" type="text" formControlName="{{editFeatureItem.name}}">

              <div class="input-group-append" *ngIf="data.mode === 'multipleEdit'">
                <span class="input-group-text error-badge">
                  <mat-icon class="cur-p" (click)="switchControl(editFeatureItem.property)">edit</mat-icon>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="editFeatureItem.property?.valueType?.includes('CHOICE')" class="row fiz-edit-item">
          <div class="col-6 px-0 edit-item-title">{{editFeatureItem.property?.title}}</div>
          <div class="col-6 px-0">
            <div class="input-group">
              <select class="custom-select" formControlName="{{editFeatureItem.name}}">
                <option *ngFor="let enumOption of editFeatureItem.property.enumerations"
                        [value]="enumOption.value">
                  {{enumOption.title}}
                </option>
              </select>

              <div class="input-group-append" *ngIf="data.mode === 'multipleEdit'">
                <span class="input-group-text error-badge">
                  <mat-icon class="cur-p" (click)="switchControl(editFeatureItem.property)">edit</mat-icon>
                </span>
              </div>

<!--              <div class="multiedit-template" *ngIf="data.mode === 'multipleEdit'">-->
<!--                <span class="template-text">Оставить как есть</span>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
