@import url(../../pages/_app/app.component.css);

.full-h {
  height: calc(100vh - 105px);
}

.short-h {
  height: calc(100vh - 551px);
}

.edit-content {
  overflow: auto;
}

.fiz-edit-item {
  align-items: center;
  padding: 4px 6px 4px 6px;
}

.edit-item-title {
  font-family: monospace;
  font-weight: bold;
  line-height: 1.1
}

.error-badge {
  padding: 0 2px 0 2px;
}
