<div class="container-fluid edit-feature">
  <div class="row" style="padding-top: 5px; padding-bottom: 5px; background-color: gainsboro">
    <div class="col-12" style="padding-right: 5px; padding-left: 5px">
      <button
        *ngIf="updatingAllowed"
        mat-stroked-button
        color="primary"
        (click)="editFeature()"
        class="float-left"
        matBadge="{{ features.length > 1 ? features.length : null }}"
        matBadgePosition="after"
        matBadgeColor="accent"
        matTooltip="{{ getTooltip() }}"
        [disabled]="editFeatureForm?.pristine && (!isGeometryChanged || !isGeometryValid)"
      >
        <mat-icon *ngIf="mode === 'multipleEdit'">list</mat-icon>
        Сохранить
      </button>

      <button
        *ngIf="updatingAllowed && !isNew && mode !== 'multipleEdit'"
        class="del-button"
        mat-stroked-button
        color="error"
        (click)="deleteFeature()"
      >
        Удалить
      </button>

      <button mat-icon-button (click)="close()" class="float-right">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="row edit-content">
    <crg-loading *ngIf="isSaveInProgress"></crg-loading>

    <ng-container *ngIf="mode === 'single'; else editAttrsForm">
      <mat-tab-group class="tabs" [(selectedIndex)]="selectTab">
        <mat-tab label="Атрибуты">
          <ng-container *ngTemplateOutlet="editAttrsForm"></ng-container>
        </mat-tab>
        <mat-tab label="Геометрия">
          <ng-template matTabContent>
            <crg-edit-feature-geometry [store]="editGeometryStore" [readOnly]="!updatingAllowed">
            </crg-edit-feature-geometry>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ng-container>

    <crg-copy-url-button [feature]="features" class="copy-url-button"> </crg-copy-url-button>

    <crg-zoom-to-feature
      class="zoom-to-feature"
      [feature]="features[0]"
      *ngIf="mode === 'single' && !isNew && features"
    >
    </crg-zoom-to-feature>

    <crg-open-in-another-project
      *ngIf="mode === 'single' && !isNew && features"
      [features]="features"
    ></crg-open-in-another-project>

    <crg-xml-download
      *ngIf="mode === 'single' && !isNew && features"
      [feature]="features[0]"
      [layer]="layer"
    ></crg-xml-download>

    <crg-feature-extract
      *ngIf="mode === 'single' && !isNew && features"
      [feature]="features[0]"
      [layer]="layer"
    ></crg-feature-extract>
  </div>
</div>

<ng-template #editAttrsForm>
  <form *ngIf="editFeatureForm" class="edit-feature__form col-md-12 scroll" [formGroup]="editFeatureForm">
    <ng-container *ngFor="let editFeatureItem of editFeatureData">
      <div *ngIf="!editFeatureItem.property?.hidden">
        <div
          *ngIf="
            editFeatureItem.property?.valueType?.includes('URL') ||
            editFeatureItem.property?.valueType?.includes('FIAS') ||
            editFeatureItem.property?.valueType?.includes('BOOLEAN') ||
            editFeatureItem.property?.valueType?.includes('FILE') ||
            editFeatureItem.property?.valueType?.includes('STRING') ||
            editFeatureItem.property?.valueType?.includes('DOCUMENT')
          "
          class="row fiz-edit-item"
        >
          <div class="col-6 px-0 edit-item-title">
            <span
              *ngIf="!editFeatureItem.isFgistpProperty"
              style="color: grey"
              matTooltip="Данное свойство не соответствует приказу"
            >
              {{ editFeatureItem.property?.title }}
            </span>
            <span *ngIf="editFeatureItem.isFgistpProperty">
              {{ editFeatureItem.property?.title }}
            </span>
            <crg-form-description
              *ngIf="editFeatureItem.property?.description"
              [property]="editFeatureItem.property"
            ></crg-form-description>
          </div>

          <div
            class="col-6 px-0 new-form-fields"
            *ngIf="
              !(
                mode === 'multipleEdit' &&
                (editFeatureItem.property?.valueType?.includes('FILE') ||
                  editFeatureItem.property?.valueType?.includes('LOOKUP'))
              )
            "
          >
            <crg-form-control
              formControlName="{{ editFeatureItem.name }}"
              [property]="editFeatureItem.property"
              [updatingAllowed]="updatingAllowed"
            >
            </crg-form-control>

            <div class="no-wrap-group">
              <crg-relations-button
                *ngIf="editFeatureItem.relations.length"
                [obj]="features[0].properties"
                [relations]="editFeatureItem.relations"
              >
              </crg-relations-button>
            </div>

            <div class="input-group-append" *ngIf="!editFeatureForm.controls[editFeatureItem.name].valid">
              <span class="input-group-text error-badge">
                <crg-errors-badge [errors]="editFeatureForm.controls[editFeatureItem.name].errors"></crg-errors-badge>
              </span>
            </div>

            <div class="input-group-append" *ngIf="mode === 'multipleEdit'">
              <span class="input-group-text multiple-edit-badge">
                <mat-icon class="cur-p" (click)="switchControl(editFeatureItem.property)">edit</mat-icon>
              </span>
            </div>

            <div class="multiedit-template" *ngIf="isShowTemplate(editFeatureItem.property)">
              <span class="template-text">Оставить как есть</span>
            </div>
          </div>

          <div
            class="col-6 px-0 new-form-fields not-editable-form-fields"
            *ngIf="
              mode === 'multipleEdit' &&
              (editFeatureItem.property?.valueType?.includes('FILE') ||
                editFeatureItem.property?.valueType?.includes('LOOKUP'))
            "
          >
            <div class="not-editable">
              <span class="template-text">Недоступно для множественного редактирования</span>
            </div>
          </div>
        </div>

        <div
          class="row fiz-edit-item"
          *ngIf="editFeatureItem.property?.valueType?.includes('LOOKUP') && mode === 'single'"
        >
          <crg-edit-feature-field
            type="LOOKUP"
            [field]="editFeatureItem"
            [feature]="features[0]"
            [isNew]="isNew"
            [layer]="layer"
            [isReadOnly]="updatingAllowed"
          >
          </crg-edit-feature-field>
        </div>

        <div *ngIf="editFeatureItem.property?.valueType?.includes('DATETIME')" class="row fiz-edit-item">
          <div class="col-6 px-0 edit-item-title">
            <span
              *ngIf="!editFeatureItem.isFgistpProperty"
              style="color: grey"
              matTooltip="Данное свойство не соответствует приказу"
            >
              {{ editFeatureItem.property?.title }}
            </span>
            <span *ngIf="editFeatureItem.isFgistpProperty">
              {{ editFeatureItem.property?.title }}
            </span>
            <crg-form-description
              *ngIf="editFeatureItem.property?.description"
              [property]="editFeatureItem.property"
            ></crg-form-description>
          </div>
          <div class="col-6 px-0">
            <div class="input-group" *ngIf="isReadOnly(editFeatureItem.property)">
              <input class="form-control" type="date" formControlName="{{ editFeatureItem.name }}" />
              <span class="input-group-text error-badge" *ngIf="editFeatureForm.controls[editFeatureItem.name].errors">
                <crg-errors-badge [errors]="editFeatureForm.controls[editFeatureItem.name].errors"></crg-errors-badge>
              </span>

              <div class="input-group-append" *ngIf="mode === 'multipleEdit'">
                <span class="input-group-text multiple-edit-badge">
                  <mat-icon class="cur-p" (click)="switchControl(editFeatureItem.property)">edit</mat-icon>
                </span>
              </div>

              <div class="multiedit-template" *ngIf="isShowTemplate(editFeatureItem.property)">
                <span class="template-text">Оставить как есть</span>
              </div>
            </div>

            <div *ngIf="!isReadOnly(editFeatureItem.property)" class="read-value">
              {{ getDateTime(editFeatureItem.value) }}
            </div>
          </div>
        </div>

        <div *ngIf="editFeatureItem.property?.valueType?.includes('INT')" class="row fiz-edit-item">
          <div class="col-6 px-0 edit-item-title">
            <span
              *ngIf="!editFeatureItem.isFgistpProperty"
              style="color: grey"
              matTooltip="Данное свойство не соответствует приказу"
              >{{ editFeatureItem.property?.title }}</span
            >
            <span *ngIf="editFeatureItem.isFgistpProperty">{{ editFeatureItem.property?.title }}</span>
            <crg-form-description
              *ngIf="editFeatureItem.property?.description"
              [property]="editFeatureItem.property"
            ></crg-form-description>
          </div>
          <div class="col-6 px-0">
            <div class="input-group" *ngIf="isReadOnly(editFeatureItem.property)">
              <input class="form-control" type="number" formControlName="{{ editFeatureItem.name }}" />
              <div class="input-group-append" *ngIf="!editFeatureForm.controls[editFeatureItem.name].valid">
                <span class="input-group-text error-badge">
                  <crg-errors-badge [errors]="editFeatureForm.controls[editFeatureItem.name].errors"></crg-errors-badge>
                </span>
              </div>

              <div class="input-group-append" *ngIf="mode === 'multipleEdit'">
                <span class="input-group-text multiple-edit-badge">
                  <mat-icon class="cur-p" (click)="switchControl(editFeatureItem.property)">edit</mat-icon>
                </span>
              </div>

              <div class="multiedit-template" *ngIf="isShowTemplate(editFeatureItem.property)">
                <span class="template-text">Оставить как есть</span>
              </div>
            </div>

            <div *ngIf="!isReadOnly(editFeatureItem.property)" class="read-value">11{{ editFeatureItem.value }}</div>
          </div>
        </div>

        <div *ngIf="editFeatureItem.property?.valueType?.includes('DOUBLE')" class="row fiz-edit-item">
          <div class="col-6 px-0 edit-item-title">
            <span
              *ngIf="!editFeatureItem.isFgistpProperty"
              style="color: grey"
              matTooltip="Данное свойство не соответствует приказу"
              >{{ editFeatureItem.property?.title }}</span
            >
            <span *ngIf="editFeatureItem.isFgistpProperty">{{ editFeatureItem.property?.title }}</span>
            <crg-form-description
              *ngIf="editFeatureItem.property?.description"
              [property]="editFeatureItem.property"
            ></crg-form-description>
          </div>
          <div class="col-6 px-0">
            <div class="input-group" *ngIf="isReadOnly(editFeatureItem.property)">
              <input class="form-control" type="number" formControlName="{{ editFeatureItem.name }}" />
              <div class="input-group-append" *ngIf="!editFeatureForm.controls[editFeatureItem.name].valid">
                <span class="input-group-text error-badge">
                  <crg-errors-badge [errors]="editFeatureForm.controls[editFeatureItem.name].errors"></crg-errors-badge>
                </span>
              </div>

              <div class="input-group-append" *ngIf="mode === 'multipleEdit'">
                <span class="input-group-text multiple-edit-badge">
                  <mat-icon class="cur-p" (click)="switchControl(editFeatureItem.property)">edit</mat-icon>
                </span>
              </div>

              <div class="multiedit-template" *ngIf="isShowTemplate(editFeatureItem.property)">
                <span class="template-text">Оставить как есть</span>
              </div>
            </div>

            <div *ngIf="!isReadOnly(editFeatureItem.property)" class="read-value">{{ editFeatureItem.value }}</div>
          </div>
        </div>

        <div *ngIf="editFeatureItem.property?.valueType?.includes('CHOICE')" class="row fiz-edit-item">
          <div class="col-6 px-0 edit-item-title">
            {{ editFeatureItem.property?.title }}
            <crg-form-description
              *ngIf="editFeatureItem.property?.description"
              [property]="editFeatureItem.property"
            ></crg-form-description>
          </div>
          <div class="col-6 px-0">
            <div class="input-group" *ngIf="isReadOnly(editFeatureItem.property)">
              <select class="custom-select" formControlName="{{ editFeatureItem.name }}">
                <option [value]=""></option>
                <option *ngFor="let enumOption of editFeatureItem.property.enumerations" [value]="enumOption.value">
                  {{ enumOption.title }}
                </option>
              </select>
              <div class="input-group-append" *ngIf="!editFeatureForm.controls[editFeatureItem.name].valid">
                <span class="input-group-text error-badge">
                  <crg-errors-badge [errors]="editFeatureForm.controls[editFeatureItem.name].errors"></crg-errors-badge>
                </span>
              </div>

              <div class="input-group-append" *ngIf="mode === 'multipleEdit'">
                <span class="input-group-text multiple-edit-badge">
                  <mat-icon class="cur-p" (click)="switchControl(editFeatureItem.property)">edit</mat-icon>
                </span>
              </div>

              <div class="multiedit-template" *ngIf="isShowTemplate(editFeatureItem.property)">
                <span class="template-text">Оставить как есть</span>
              </div>
            </div>

            <div *ngIf="!isReadOnly(editFeatureItem.property)" class="read-value">
              {{ getEnumerationTitle(editFeatureItem.property.enumerations, editFeatureItem.value) }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</ng-template>

<crg-edit-feature-confirm></crg-edit-feature-confirm>
