<div class="container-fluid">
  <div class="row" style="padding-top: 5px; padding-bottom: 5px; background-color: gainsboro">
    <div class="col-12" style="padding-left: 5px; padding-right: 5px">

      <button *ngIf="!readOnly"
              mat-stroked-button
              color="primary"
              (click)="editFeature()"
              class="float-left"
              matBadge="{{data.total}}"
              matBadgePosition="after"
              matBadgeColor="accent"
              matTooltip="{{getTooltip()}}"
              [disabled]="editFeatureForm.pristine && !isGeometryChanged || !isGeometryValid">
        <mat-icon *ngIf="data.mode === 'multipleEdit'">list</mat-icon>
        Сохранить
      </button>

      <button *ngIf="!readOnly && !data.isNew"
              class="del-button"
              mat-stroked-button
              color="error"
              (click)="deleteFeature()">
        Удалить
      </button>

      <button mat-stroked-button (click)="close()" class="float-right">
        {{readOnly ? 'Закрыть' : 'Отмена'}}
      </button>

    </div>
  </div>

  <div [ngClass]="isAttributeSidebarOpened? 'row edit-content scroll short-h' : 'row edit-content scroll full-h'">
    <crg-loading *ngIf="isSaveInProgress" [percents]="loadPercent"></crg-loading>

    <ng-container *ngIf="data.mode === 'single' else editAttrsForm">
      <mat-tab-group class="tabs scroll">
        <mat-tab label="Атрибуты">
          <ng-container *ngTemplateOutlet="editAttrsForm"></ng-container>
        </mat-tab>
        <mat-tab label="Геометрия">
          <ng-template matTabContent>
            <crg-edit-feature-geometry [store]="editGeometryStore" [readOnly]="readOnly">
            </crg-edit-feature-geometry>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ng-container>

    <button class="zoom-to-button" mat-icon-button (click)="zoomToFeature(data.feature)"
            matTooltip="Перейти к объекту">
      <mat-icon>zoom_out_map</mat-icon>
    </button>
  </div>
</div>

<ng-template #editAttrsForm>
  <form class="example-form col-md-12" [formGroup]="editFeatureForm">
    <ng-container *ngFor="let editFeatureItem of editFeatureData">
      <div *ngIf="!editFeatureItem.property?.hidden">
        <div *ngIf="editFeatureItem.property?.valueType?.includes('URL')" class="row fiz-edit-item">
          <crg-edit-feature-field type="url" [field]="editFeatureItem">
          </crg-edit-feature-field>
        </div>

        <div *ngIf="editFeatureItem.property?.valueType?.includes('STRING')" class="row fiz-edit-item">
          <div class="col-6 px-0 edit-item-title">
            <span *ngIf="!editFeatureItem.isFgistpProperty"
                  style="color: grey"
                  matTooltip="Данное свойство не соответствует приказу">
              {{editFeatureItem.property?.title}}
            </span>
            <span *ngIf="editFeatureItem.isFgistpProperty">
              {{editFeatureItem.property?.title}}
            </span>
          </div>
          <div class="col-6 px-0">
            <div class="input-group" *ngIf="!readOnly">
              <input class="form-control" type="text" formControlName="{{editFeatureItem.name}}">
              <span class="input-group-text error-badge"
                    *ngIf="editFeatureForm.controls[editFeatureItem.name].errors">
                <crg-errors-badge [errors]="editFeatureForm.controls[editFeatureItem.name].errors"></crg-errors-badge>
              </span>

              <div class="input-group-append" *ngIf="data.mode === 'multipleEdit'">
                <span class="input-group-text multiple-edit-badge">
                  <mat-icon class="cur-p" (click)="switchControl(editFeatureItem.property)">edit</mat-icon>
                </span>
              </div>

              <div class="multiedit-template" *ngIf="isShowTemplate(editFeatureItem.property)">
                <span class="template-text">Оставить как есть</span>
              </div>
            </div>

            <div *ngIf="readOnly" class="read-value">
              {{editFeatureItem.value}}
            </div>
          </div>
        </div>

        <div *ngIf="editFeatureItem.property?.valueType?.includes('INT')" class="row fiz-edit-item">
          <div class="col-6 px-0 edit-item-title">
            <span *ngIf="!editFeatureItem.isFgistpProperty" style="color: grey"
                  matTooltip="Данное свойство не соответствует приказу">{{editFeatureItem.property?.title}}</span>
            <span *ngIf="editFeatureItem.isFgistpProperty">{{editFeatureItem.property?.title}}</span>
          </div>
          <div class="col-6 px-0">
            <div class="input-group" *ngIf="!readOnly">
              <input class="form-control" type="number" formControlName="{{editFeatureItem.name}}">
              <div class="input-group-append" *ngIf="!editFeatureForm.controls[editFeatureItem.name].valid">
                <span class="input-group-text error-badge">
                  <crg-errors-badge [errors]="editFeatureForm.controls[editFeatureItem.name].errors"></crg-errors-badge>
                </span>
              </div>

              <div class="input-group-append" *ngIf="data.mode === 'multipleEdit'">
                <span class="input-group-text multiple-edit-badge">
                  <mat-icon class="cur-p" (click)="switchControl(editFeatureItem.property)">edit</mat-icon>
                </span>
              </div>

              <div class="multiedit-template" *ngIf="isShowTemplate(editFeatureItem.property)">
                <span class="template-text">Оставить как есть</span>
              </div>
            </div>

            <div *ngIf="readOnly" class="read-value">
              {{editFeatureItem.value}}
            </div>
          </div>
        </div>

        <div *ngIf="editFeatureItem.property?.valueType?.includes('DOUBLE')" class="row fiz-edit-item">
          <div class="col-6 px-0 edit-item-title">
            <span *ngIf="!editFeatureItem.isFgistpProperty" style="color: grey"
                  matTooltip="Данное свойство не соответствует приказу">{{editFeatureItem.property?.title}}</span>
            <span *ngIf="editFeatureItem.isFgistpProperty">{{editFeatureItem.property?.title}}</span>
          </div>
          <div class="col-6 px-0">
            <div class="input-group" *ngIf="!readOnly">
              <input class="form-control" type="number" step="0.0001" formControlName="{{editFeatureItem.name}}">
              <div class="input-group-append" *ngIf="!editFeatureForm.controls[editFeatureItem.name].valid">
                <span class="input-group-text error-badge">
                  <crg-errors-badge [errors]="editFeatureForm.controls[editFeatureItem.name].errors"></crg-errors-badge>
                </span>
              </div>

              <div class="input-group-append" *ngIf="data.mode === 'multipleEdit'">
                <span class="input-group-text multiple-edit-badge">
                  <mat-icon class="cur-p" (click)="switchControl(editFeatureItem.property)">edit</mat-icon>
                </span>
              </div>

                <div class="multiedit-template" *ngIf="isShowTemplate(editFeatureItem.property)">
                  <span class="template-text">Оставить как есть</span>
                </div>
              </div>

            <div *ngIf="readOnly" class="read-value">
              {{editFeatureItem.value}}
            </div>
          </div>
        </div>

        <div *ngIf="editFeatureItem.property?.valueType?.includes('CHOICE')" class="row fiz-edit-item">
          <div class="col-6 px-0 edit-item-title">{{editFeatureItem.property?.title}}</div>
          <div class="col-6 px-0">
            <div class="input-group" *ngIf="!readOnly">
              <select class="custom-select" formControlName="{{editFeatureItem.name}}">
                <option [value]=""></option>
                <option *ngFor="let enumOption of editFeatureItem.property.enumerations"
                        [value]="enumOption.value">
                  {{enumOption.title}}
                </option>
              </select>
              <div class="input-group-append" *ngIf="!editFeatureForm.controls[editFeatureItem.name].valid">
                <span class="input-group-text error-badge">
                  <crg-errors-badge [errors]="editFeatureForm.controls[editFeatureItem.name].errors"></crg-errors-badge>
                </span>
              </div>

              <div class="input-group-append" *ngIf="data.mode === 'multipleEdit'">
                <span class="input-group-text multiple-edit-badge">
                  <mat-icon class="cur-p" (click)="switchControl(editFeatureItem.property)">edit</mat-icon>
                </span>
              </div>

              <div class="multiedit-template" *ngIf="isShowTemplate(editFeatureItem.property)">
                <span class="template-text">Оставить как есть</span>
              </div>
            </div>

            <div *ngIf="readOnly" class="read-value">
              {{getEnumerationTitle(editFeatureItem.property.enumerations, editFeatureItem.value)}}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</ng-template>
