.PseudoLink {
  cursor: pointer;
  transition: border-bottom-color 0.3s;

  &-Inner {
    color: var(--blue);
    border-bottom: 1px var(--blue) dashed;
  }

  &:hover {
    .PseudoLink-Inner {
      border-bottom-color: var(--red);
    }
  }

  &_disabled {
    cursor: default;
  }

  &_disabled &-Inner {
    color: var(--gray);
    border-bottom: 1px var(--gray) dashed;
  }
}
