.HelpPopup {
  max-width: 400px;
  padding: 25px;

  &-Title {
    margin-bottom: 5px;

    font-size: 20px;
  }

  &-Content {
    overflow: auto;

    max-height: calc(100vh - 200px);
  }

  &-Actions {
    padding-top: 10px;

    text-align: right;
  }
}
