body .CreateLibraryElement-FolderButton {
  margin-left: 6px;
}

.CreateLibraryElement-FolderButton .MuiButton-startIcon {
  margin-right: 0;
}

.CreateLibraryElement-FolderButton .MuiButton-root {
  min-width: 0;
}
