<div [class]="cn()">
  <div id="fiz-openLayer-map" [class]="cn('map')">
    <crg-map-toolbar></crg-map-toolbar>
    <crg-basemaps-select></crg-basemaps-select>
  </div>

  <crg-layers-sidebar [class]="cn('bar', { dir: 'left' })"> </crg-layers-sidebar>

  <crg-edit-features-sidebar [class]="cn('bar', { dir: 'right' })" *ngIf="isEditSidebarActive">
  </crg-edit-features-sidebar>
  <crg-features-list-sidebar [class]="cn('bar', { dir: 'right' })" *ngIf="isFeaturesSidebarActive">
  </crg-features-list-sidebar>
  <crg-report-sidebar
    [class]="cn('bar', { dir: 'right' })"
    *ngIf="isBugReportSidebarActive"
    [isActive]="isBugReportSidebarActive"
  >
  </crg-report-sidebar>

  <crg-attributes-bar [class]="cn('bar', { dir: 'bottom' })" *ngIf="isAttrSidebarActive"> </crg-attributes-bar>
</div>
