.error-list {
  &__content {
    padding-top: 20px;
  }

  &__row-dz {
    display: flex;
    justify-content: space-between;

    margin-bottom: 5px;
  }

  &__notification {
    &_error {
      color: #dc3545;
    }
  }
}
