.Projects {
  position: relative;

  overflow: auto;

  min-height: calc(100vh - 80px);
  padding: 0 0 35px;

  &-CurrentFolder {
    color: rgb(0 0 0 / 87%);

    font-size: 16px;
    font-weight: 500;
  }
}
