.Form-Control_type_choice {
  &.Form-Control_labelInField {
    & .MuiSelect-select {
      padding: 2px 24px 3px 10px;
    }
  }

  .MuiToggleButton-root {
    text-transform: none;
  }
}

.Form-ChoiceRenderValue_invalid {
  font-style: italic;
}

.Form-ChoiceMenuItem_invalid {
  .MuiListItemText-primary {
    font-style: italic;
  }
}

.Form-ChoiceChip_invalid {
  font-style: italic;
}
