.Form-Control_type_fias {
  legend {
    /* fucking reset.css */
    width: initial;
    max-width: initial;
    margin-bottom: initial;

    white-space: initial;

    color: initial;

    font-size: initial;
  }
}
