body .HelpToc {
  &-Subitems {
    padding-left: 10px;
  }

  &-SearchIcon {
    color: rgba(0, 0, 0, 0.54);
  }

  &-TitleIcon {
    width: 1.25em;
    height: 1.25em;
  }

  &-ItemTitleLink {
    padding: 5px 0;

    color: var(--blue);

    font-size: 1rem;
  }

  &-Mark {
    background-color: yellow;
  }
}
