.crg-stepper {
  position: absolute;
  left: 50%;
  margin-left: -394px;
  display: flex;
  top: 7.5px;
}

.step-1, .step-2, .step-3, .step-4 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 0;
}

.step-1:hover {
  transform: scale(1.2);
}
.step-2:hover {
  transform: scale(1.2);
}
.step-3:hover {
  transform: scale(1.2);
}
.step-4:hover {
  transform: scale(1.2);
}

.stepper-icon {
  position: relative;
  left: 8px;
  top: 8px;
  font-size: 25px;
}

.step-line {
  align-self: center;
  width: 100px;
  height: 6px;
  margin: -1px;
}

.disabled {
  background-color: darkgrey;
}

.active {
  background-color: #008ace;
  cursor: pointer;
}

.done {
  background-color: #95b70b;
  cursor: pointer;
}
