<div class="crg-stepper">
  <div class="step-1"
       [ngClass]="{'active': activeStep === 1, 'done': activeStep > 1}"
       matTooltip="Выбор проекта" (click)="doAction(1)">
    <mat-icon class="stepper-icon" aria-label="label">view_headline</mat-icon>
  </div>
  <div class="step-line"
       [ngClass]="{'active': activeStep === 1, 'done': activeStep > 1}"></div>
  <div class="step-line"
       [ngClass]="{'active': activeStep === 2, 'done': activeStep > 2, 'disabled': activeStep < 2}"></div>
  <div class="step-2"
       [ngClass]="{'active': activeStep === 2, 'done': activeStep > 2, 'disabled': activeStep < 2}"
       matTooltip="Загрузка шейпов" (click)="doAction(2)">
    <mat-icon class="stepper-icon" aria-label="label">cloud_download</mat-icon>
  </div>
  <div class="step-line"
       [ngClass]="{'active': activeStep === 2, 'done': activeStep > 2, 'disabled': activeStep < 2}"></div>
  <div class="step-line"
       [ngClass]="{'active': activeStep === 3, 'done': activeStep > 3, 'disabled': activeStep < 3}"></div>
  <div class="step-3"
       [ngClass]="{'active': activeStep === 3, 'done': activeStep > 3, 'disabled': activeStep < 3}"
       matTooltip="Проверка ошибок по приказу" (click)="doAction(3)">
    <mat-icon class="stepper-icon" aria-label="label">bug_report</mat-icon>
  </div>
  <div class="step-line"
       [ngClass]="{'active': activeStep === 3, 'done': activeStep > 3, 'disabled': activeStep < 3}"></div>
  <div class="step-line"
       [ngClass]="{'active': activeStep === 3 || activeStep === 4, 'done': activeStep > 4, 'disabled': activeStep < 3}"></div>
  <div class="step-4"
       [ngClass]="{'active': activeStep === 3 || activeStep === 4, 'done': activeStep > 4, 'disabled': activeStep < 3}"
       matTooltip="Выгрузка GML" (click)="doAction(4)">
    <mat-icon class="stepper-icon" aria-label="label">arrow_downward</mat-icon>
  </div>
</div>
