.MuiButton-outlined.MuiButton-outlined {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.MuiButton-root.MuiButton-root {
  text-transform: none;
}

.MuiButton-root.MuiButton-root:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.MuiButton-contained.MuiButton-contained {
  background-color: white;
}

.MuiButton-contained.MuiButton-contained:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
