.Button {
  &.MuiButton-root {
    text-transform: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    &:focus {
      outline: none;
    }
  }

  &.MuiButton-outlined {
    border: 1px solid rgba(0, 0, 0, 0.12);
  }

  &.MuiButton-contained {
    background-color: white;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}
