.button {
  width: auto;
  height: 24px;

  color: grey;
  border: outset;
  border-width: thin;
  border-radius: 5px;
  outline: none;

  &__inner {
    position: relative;
    top: -9px;

    padding: 0 5px;
  }

  &__icon {
    margin: -5px 0 0 0;

    vertical-align: middle;
  }

  &_checked {
    border: inset;
    border-width: thin;

    .button__icon {
      color: #007bff;
    }
  }
}
