<div *ngIf="layers">
  <select class="custom-select" [(ngModel)]="selectedDocSchema">
    <option *ngFor="let schema of docs" [value]="schema.value">
      {{schema.title}}
    </option>
  </select>
  <input class="form-control my-2" type="text" placeholder="Фильтр" [(ngModel)]="filterTerm">

  <div class="select-all">
    <mat-checkbox [labelPosition]="'before'" (click)="selectAll()" [(ngModel)]="isAllSelected">
      {{isAllSelected ? 'Снять выделение' : 'Выделить всё'}}
    </mat-checkbox>
  </div>
  <mat-divider></mat-divider>
  <mat-selection-list class="scroll" #gmlLayers (selectionChange)="onChange()" dense style="height: 330px">
    <mat-list-option *ngFor="let layer of layers | filterLayers:filterTerm" [value]="layer">
      <span class="cut-text">
        {{handleTitle(layer)}}
      </span>
    </mat-list-option>
  </mat-selection-list>
  <mat-divider></mat-divider>

  <button mat-raised-button color="primary" class="float-right mat-primary" style="margin-top: 10px"
          [disabled]="gmlLayers.selectedOptions.selected.length < 1 || !selectedDocSchema"
          (click)="initValidation()">GML</button>
</div>

<div *ngIf="!layers">
  Нет данных
</div>
