<div *ngIf="layers">
  <select class="custom-select" [(ngModel)]="selectedDocSchema">
    <option *ngFor="let schema of docs" [value]="schema.value">
      {{schema.title}}
    </option>
  </select>
  <input class="form-control my-2" type="text" placeholder="Фильтр" [(ngModel)]="filterTerm">

  <mat-selection-list class="scroll" #gmlLayers (selectionChange)="onChange(gmlLayers)" dense style="height: 330px">
    <mat-list-option class="text-right" (click)="selectAll()">{{selectText}}</mat-list-option>
    <mat-list-option *ngFor="let layer of layers | filterLayers:filterTerm" [value]="layer">
      <span class="cut-text">
        {{handleTitle(layer)}}
      </span>
    </mat-list-option>
  </mat-selection-list>

  <button mat-stroked-button color="primary" class="float-right" style="margin-top: 10px"
          [disabled]="gmlLayers.selectedOptions.selected.length < 1 || !selectedDocSchema"
          (click)="initValidation()">GML</button>
</div>

<div *ngIf="!layers">
  Нет данных
</div>
