.PrintDialog-WindRose {
  position: absolute;
  top: calc(var(--PrintDialogPreviewSizeFactor) * calc(3 * var(--PrintDialogPreviewControlsFactor)));
  left: calc(var(--PrintDialogPreviewSizeFactor) * calc(3 * var(--PrintDialogPreviewControlsFactor)));

  width: var(--PrintDialogWindRoseWidth);
  height: var(--PrintDialogWindRoseWidth);

  transform: rotate(calc(var(--PrintDialogPreviewRotation) * 1rad));

  --PrintDialogWindRoseWidth:
    calc(
      var(--PrintDialogPreviewSizeFactor) * calc(25 * var(--PrintDialogPreviewControlsFactor))
    );
}
